Code/SharedModules/BWCommon/Schemas/Common/Objects/Fault.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.urbanoutfitters.com/co/fault"
	 targetNamespace="http://www.urbanoutfitters.com/co/fault"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	
		<xs:complexType name="FaultType" >
			<xs:sequence>
				<xs:element name="faultcode" type="xs:string" minOccurs="0"/>
				<xs:element name="faultstring" type="xs:string" minOccurs="0"/>
				<xs:element name="detail" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	
</xs:schema>