Code/SharedModules/BWCommon/Schemas/Common/Interfaces/PickTicket/PickTicket.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.urbanoutfitters.com/WhslPT"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:common="http://www.urbanoutfitters.com/co/common"
	 targetNamespace="http://www.urbanoutfitters.com/WhslPT"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.urbanoutfitters.com/co/common" schemaLocation="../../Objects/Common.xsd"/>
	<xsd:element name="pkt" type="pktType"/>
	<xsd:complexType name="pktType">
		<xsd:sequence>
			<xsd:element name="Header" type="common:HeaderType" minOccurs="0"/>
			<xsd:element ref="pktData" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="pktData">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="pktHeader" minOccurs="0"/>
				<xsd:element ref="pktHeaderENF" minOccurs="0"/>
				<xsd:element ref="pktDetails" minOccurs="0"/>
				<xsd:element ref="pktDetailsENF" minOccurs="0"/>
				<xsd:element ref="pktComments" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="pktHeader">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="errorSeq" type="xsd:string" minOccurs="0"/>
				<xsd:element name="processedDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="processedTime" type="xsd:string" minOccurs="0"/>
				<xsd:element name="batchCtlNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="dateCreated" type="xsd:string" minOccurs="0"/>
				<xsd:element name="timeCreated" type="xsd:string" minOccurs="0"/>
				<xsd:element name="userID" type="xsd:string" minOccurs="0"/>
				<xsd:element name="programID" type="xsd:string" minOccurs="0"/>
				<xsd:element name="company" type="xsd:string" minOccurs="0"/>
				<xsd:element name="division" type="xsd:string" minOccurs="0"/>
				<xsd:element name="w" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktCtlNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="warehouse" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pkt" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktSFX" type="xsd:string" minOccurs="0"/>
				<xsd:element name="orderNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="orderSFX" type="xsd:string" minOccurs="0"/>
				<xsd:element name="orderType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipTo" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToName2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToAddr1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToAddr2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToAddr3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToCity" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToState" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToZip" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipTOCountry" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ShipToFaxNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldTo" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToName2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToAddr1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToAddr2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToAddr3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToCity" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToState" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToZip" type="xsd:string" minOccurs="0"/>
				<xsd:element name="telephoneNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToCountry" type="xsd:string" minOccurs="0"/>
				<xsd:element name="dcCenterNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="logicalWarehouse" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tranferWarehouse" type="xsd:string" minOccurs="0"/>
				<xsd:element name="warehouseTransferType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="businessDivision" type="xsd:string" minOccurs="0"/>
				<xsd:element name="acctNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="acCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custPO" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custDept" type="xsd:string" minOccurs="0"/>
				<xsd:element name="verifyCartonContent" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nbrOfTimeApptChanged" type="xsd:string" minOccurs="0"/>
				<xsd:element name="appointmentDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="apptMadeById" type="xsd:string" minOccurs="0"/>
				<xsd:element name="storeNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="storeType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="consolidatorAddrCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="advertisingDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="merchCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="merchClass" type="xsd:string" minOccurs="0"/>
				<xsd:element name="merchandiseCompany" type="xsd:string" minOccurs="0"/>
				<xsd:element name="merchandiseDiv" type="xsd:string" minOccurs="0"/>
				<xsd:element name="vendorNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="plannedShipVia" type="xsd:string" minOccurs="0"/>
				<xsd:element name="billingShipVia" type="xsd:string" minOccurs="0"/>
				<xsd:element name="I3plBillingAcct" type="xsd:string" minOccurs="0"/>
				<xsd:element name="salesMan" type="xsd:string" minOccurs="0"/>
				<xsd:element name="priorityCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="territoryCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="managingTerritory" type="xsd:string" minOccurs="0"/>
				<xsd:element name="saleGrp" type="xsd:string" minOccurs="0"/>
				<xsd:element name="markFor" type="xsd:string" minOccurs="0"/>
				<xsd:element name="orderDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktGenerationDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="startShipDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stopShipDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cancelDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="allocShipDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="scheduleDeliveryDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipmentType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="termsCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="termsDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="terms" type="xsd:string" minOccurs="0"/>
				<xsd:element name="preStickerCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipWithCtlNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="printCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custPrePack" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cartonLblType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="filler" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nbrOfCrtnLbl" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cntLblType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="NbrCntLbl" type="xsd:string" minOccurs="0"/>
				<xsd:element name="waveLblType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nbrPackingSlips" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packingSlipType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktStatus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packholdFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="invoiceInCarton" type="xsd:string" minOccurs="0"/>
				<xsd:element name="autoInvoiceStatus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custRouting" type="xsd:string" minOccurs="0"/>
				<xsd:element name="routingAttribute" type="xsd:string" minOccurs="0"/>
				<xsd:element name="routeTo" type="xsd:string" minOccurs="0"/>
				<xsd:element name="routingType1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="routingZip" type="xsd:string" minOccurs="0"/>
				<xsd:element name="routingSwcNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="singleUnitOrderSingles" type="xsd:string" minOccurs="0"/>
				<xsd:element name="estimatedWeight" type="xsd:string" minOccurs="0"/>
				<xsd:element name="eatimatedCarton" type="xsd:string" minOccurs="0"/>
				<xsd:element name="estimatedVolume" type="xsd:string" minOccurs="0"/>
				<xsd:element name="totNbrOfUnit" type="xsd:string" minOccurs="0"/>
				<xsd:element name="totDLRSUndiscounted" type="xsd:string" minOccurs="0"/>
				<xsd:element name="totDLRSDiscounted" type="xsd:string" minOccurs="0"/>
				<xsd:element name="currency" type="xsd:string" minOccurs="0"/>
				<xsd:element name="discountDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nbrOfHanger" type="xsd:string" minOccurs="0"/>
				<xsd:element name="route" type="xsd:string" minOccurs="0"/>
				<xsd:element name="routeSeqNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bolType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="trailer" type="xsd:string" minOccurs="0"/>
				<xsd:element name="trailerType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="trailerSize" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipmentCtlFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="codFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="productValue" type="xsd:string" minOccurs="0"/>
				<xsd:element name="reCalcOrderChange" type="xsd:string" minOccurs="0"/>
				<xsd:element name="suppressFinancials" type="xsd:string" minOccurs="0"/>
				<xsd:element name="creditAmount" type="xsd:string" minOccurs="0"/>
				<xsd:element name="orderCharge" type="xsd:string" minOccurs="0"/>
				<xsd:element name="handlingCharges" type="xsd:string" minOccurs="0"/>
				<xsd:element name="insuranceCharges" type="xsd:string" minOccurs="0"/>
				<xsd:element name="taxCharges" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscCharges" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktWageValue" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pickerSTDHour" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crtnASNRequired" type="xsd:string" minOccurs="0"/>
				<xsd:element name="asnMethod" type="xsd:string" minOccurs="0"/>
				<xsd:element name="skuInventory" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crossDoctPkt" type="xsd:string" minOccurs="0"/>
				<xsd:element name="chopping" type="xsd:string" minOccurs="0"/>
				<xsd:element name="I2Of5Label" type="xsd:string" minOccurs="0"/>
				<xsd:element name="frieghtTerms" type="xsd:string" minOccurs="0"/>
				<xsd:element name="printGarmentLbl" type="xsd:string" minOccurs="0"/>
				<xsd:element name="vasStatus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="chuteCategory" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cheapRateFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="maxCrtnWgt" type="xsd:string" minOccurs="0"/>
				<xsd:element name="maxCrtnUnit" type="xsd:string" minOccurs="0"/>
				<xsd:element name="palletSeqFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="assignLocation" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shippingWarehouse" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToWarehouse" type="xsd:string" minOccurs="0"/>
				<xsd:element name="combinePktFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="allocateCases" type="xsd:string" minOccurs="0"/>
				<xsd:element name="allocateInv" type="xsd:string" minOccurs="0"/>
				<xsd:element name="caseAllocProcessing" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shippingZone1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shippingZone2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shippingZone3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shippingZone4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shippingZone5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shippingZone6" type="xsd:string" minOccurs="0"/>
				<xsd:element name="residentialAddr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="serviceLevel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="liabilityTerms" type="xsd:string" minOccurs="0"/>
				<xsd:element name="earliestDeliveryTime" type="xsd:string" minOccurs="0"/>
				<xsd:element name="importer" type="xsd:string" minOccurs="0"/>
				<xsd:element name="incoTerms" type="xsd:string" minOccurs="0"/>
				<xsd:element name="incoTermsNamedPlace" type="xsd:string" minOccurs="0"/>
				<xsd:element name="paymentTerms" type="xsd:string" minOccurs="0"/>
				<xsd:element name="exportingShipVia" type="xsd:string" minOccurs="0"/>
				<xsd:element name="portOfLoading" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pierport3flds" type="xsd:string" minOccurs="0"/>
				<xsd:element name="containerized" type="xsd:string" minOccurs="0"/>
				<xsd:element name="validatedLicense" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ecoCommodityCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="related" type="xsd:string" minOccurs="0"/>
				<xsd:element name="documentsOnlyshipment" type="xsd:string" minOccurs="0"/>
				<xsd:element name="generalMerchadiseDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pallletSeqUsed" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode6" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode7" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode8" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode9" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode10" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custChargeShipVia" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custChargeOrigin" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custChargeServiceLevel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custChargeDiscountPerce" type="xsd:string" minOccurs="0"/>
				<xsd:element name="codPaymentType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="globalLocationNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="anchorByField1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="anchorByField2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="anchorByField3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns5Byte1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns5Byte2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns5Byte3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns5Byte4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns10Byte1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns10Byte2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNum1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNum2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNum3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="allocOpenStockForBlank" type="xsd:string" minOccurs="0"/>
				<xsd:element name="recordExpansionField" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custRCDExpansion" type="xsd:string" minOccurs="0"/>
				<xsd:element name="merchDept" type="xsd:string" minOccurs="0"/>
				<xsd:element name="function" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custProfileID" type="xsd:string" minOccurs="0"/>
				<xsd:element name="poType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bedBathBeyondCarrierCd" type="xsd:string" minOccurs="0"/>
				<xsd:element name="internalOrderNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cassCertifiedPriNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cassCertifiedSecNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crtnNbrType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="vasType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="dayOfWeek" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shiftNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="scheduleDeliveryDateEnd" type="xsd:string" minOccurs="0"/>
				<xsd:element name="isHazardousMaterial" type="xsd:string" minOccurs="0"/>
				<xsd:element name="omPO" type="xsd:string" minOccurs="0"/>
				<xsd:element name="transporationPlanningSystem" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tpeTriggerPt" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="poDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte6" type="xsd:string" minOccurs="0"/>
				<xsd:element name="merchDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNum4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNum5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNum6" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tmsHost" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nbrOfDetailLines" type="xsd:string" minOccurs="0"/>
				<xsd:element name="deliveryDateFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="deliveryDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ffSender" type="xsd:string" minOccurs="0"/>
				<xsd:element name="importerAcctFiller" type="xsd:string" minOccurs="0"/>
				<xsd:element name="vasReqd" type="xsd:string" minOccurs="0"/>
				<xsd:element name="hostData" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="pktHeaderENF">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="errorSeq" type="xsd:string" minOccurs="0"/>
				<xsd:element name="processedDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="processedTime" type="xsd:string" minOccurs="0"/>
				<xsd:element name="batchCtlNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="dateCreated" type="xsd:string" minOccurs="0"/>
				<xsd:element name="timeCreated" type="xsd:string" minOccurs="0"/>
				<xsd:element name="userID" type="xsd:string" minOccurs="0"/>
				<xsd:element name="programID" type="xsd:string" minOccurs="0"/>
				<xsd:element name="company" type="xsd:string" minOccurs="0"/>
				<xsd:element name="division" type="xsd:string" minOccurs="0"/>
				<xsd:element name="w" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktCtlNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="warehouse" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pkt" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktSFX" type="xsd:string" minOccurs="0"/>
				<xsd:element name="orderNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="orderSFX" type="xsd:string" minOccurs="0"/>
				<xsd:element name="orderType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipTo" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToName2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToAddr1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToAddr2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToAddr3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToCity" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToState" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToZip" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipTOCountry" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ShipToFaxNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldTo" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToName2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToAddr1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToAddr2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToAddr3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToCity" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToState" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToZip" type="xsd:string" minOccurs="0"/>
				<xsd:element name="telephoneNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="soldToCountry" type="xsd:string" minOccurs="0"/>
				<xsd:element name="dcCenterNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="logicalWarehouse" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tranferWarehouse" type="xsd:string" minOccurs="0"/>
				<xsd:element name="warehouseTransferType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="businessDivision" type="xsd:string" minOccurs="0"/>
				<xsd:element name="acctNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="acCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custPO" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custDept" type="xsd:string" minOccurs="0"/>
				<xsd:element name="verifyCartonContent" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nbrOfTimeApptChanged" type="xsd:string" minOccurs="0"/>
				<xsd:element name="appointmentDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="apptMadeById" type="xsd:string" minOccurs="0"/>
				<xsd:element name="storeNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="storeType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="consolidatorAddrCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="advertisingDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="merchCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="merchClass" type="xsd:string" minOccurs="0"/>
				<xsd:element name="merchandiseCompany" type="xsd:string" minOccurs="0"/>
				<xsd:element name="merchandiseDiv" type="xsd:string" minOccurs="0"/>
				<xsd:element name="vendorNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="plannedShipVia" type="xsd:string" minOccurs="0"/>
				<xsd:element name="billingShipVia" type="xsd:string" minOccurs="0"/>
				<xsd:element name="I3plBillingAcct" type="xsd:string" minOccurs="0"/>
				<xsd:element name="salesMan" type="xsd:string" minOccurs="0"/>
				<xsd:element name="priorityCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="territoryCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="managingTerritory" type="xsd:string" minOccurs="0"/>
				<xsd:element name="saleGrp" type="xsd:string" minOccurs="0"/>
				<xsd:element name="markFor" type="xsd:string" minOccurs="0"/>
				<xsd:element name="orderDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktGenerationDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="startShipDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stopShipDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cancelDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="allocShipDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="scheduleDeliveryDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipmentType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="termsCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="termsDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="terms" type="xsd:string" minOccurs="0"/>
				<xsd:element name="preStickerCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipWithCtlNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="printCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custPrePack" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cartonLblType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="filler" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nbrOfCrtnLbl" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cntLblType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="NbrCntLbl" type="xsd:string" minOccurs="0"/>
				<xsd:element name="waveLblType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nbrPackingSlips" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packingSlipType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktStatus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packholdFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="invoiceInCarton" type="xsd:string" minOccurs="0"/>
				<xsd:element name="autoInvoiceStatus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custRouting" type="xsd:string" minOccurs="0"/>
				<xsd:element name="routingAttribute" type="xsd:string" minOccurs="0"/>
				<xsd:element name="routeTo" type="xsd:string" minOccurs="0"/>
				<xsd:element name="routingType1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="routingZip" type="xsd:string" minOccurs="0"/>
				<xsd:element name="routingSwcNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="singleUnitOrderSingles" type="xsd:string" minOccurs="0"/>
				<xsd:element name="estimatedWeight" type="xsd:string" minOccurs="0"/>
				<xsd:element name="eatimatedCarton" type="xsd:string" minOccurs="0"/>
				<xsd:element name="estimatedVolume" type="xsd:string" minOccurs="0"/>
				<xsd:element name="totNbrOfUnit" type="xsd:string" minOccurs="0"/>
				<xsd:element name="totDLRSUndiscounted" type="xsd:string" minOccurs="0"/>
				<xsd:element name="totDLRSDiscounted" type="xsd:string" minOccurs="0"/>
				<xsd:element name="currency" type="xsd:string" minOccurs="0"/>
				<xsd:element name="discountDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nbrOfHanger" type="xsd:string" minOccurs="0"/>
				<xsd:element name="route" type="xsd:string" minOccurs="0"/>
				<xsd:element name="routeSeqNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bolType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="trailer" type="xsd:string" minOccurs="0"/>
				<xsd:element name="trailerType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="trailerSize" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipmentCtlFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="codFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="productValue" type="xsd:string" minOccurs="0"/>
				<xsd:element name="reCalcOrderChange" type="xsd:string" minOccurs="0"/>
				<xsd:element name="suppressFinancials" type="xsd:string" minOccurs="0"/>
				<xsd:element name="creditAmount" type="xsd:string" minOccurs="0"/>
				<xsd:element name="orderCharge" type="xsd:string" minOccurs="0"/>
				<xsd:element name="handlingCharges" type="xsd:string" minOccurs="0"/>
				<xsd:element name="insuranceCharges" type="xsd:string" minOccurs="0"/>
				<xsd:element name="taxCharges" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscCharges" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktWageValue" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pickerSTDHour" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crtnASNRequired" type="xsd:string" minOccurs="0"/>
				<xsd:element name="asnMethod" type="xsd:string" minOccurs="0"/>
				<xsd:element name="skuInventory" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crossDoctPkt" type="xsd:string" minOccurs="0"/>
				<xsd:element name="chopping" type="xsd:string" minOccurs="0"/>
				<xsd:element name="I2Of5Label" type="xsd:string" minOccurs="0"/>
				<xsd:element name="frieghtTerms" type="xsd:string" minOccurs="0"/>
				<xsd:element name="printGarmentLbl" type="xsd:string" minOccurs="0"/>
				<xsd:element name="vasStatus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="chuteCategory" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cheapRateFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="maxCrtnWgt" type="xsd:string" minOccurs="0"/>
				<xsd:element name="maxCrtnUnit" type="xsd:string" minOccurs="0"/>
				<xsd:element name="palletSeqFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="assignLocation" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shippingWarehouse" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shipToWarehouse" type="xsd:string" minOccurs="0"/>
				<xsd:element name="combinePktFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="allocateCases" type="xsd:string" minOccurs="0"/>
				<xsd:element name="allocateInv" type="xsd:string" minOccurs="0"/>
				<xsd:element name="caseAllocProcessing" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shippingZone1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shippingZone2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shippingZone3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shippingZone4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shippingZone5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shippingZone6" type="xsd:string" minOccurs="0"/>
				<xsd:element name="residentialAddr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="serviceLevel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="liabilityTerms" type="xsd:string" minOccurs="0"/>
				<xsd:element name="earliestDeliveryTime" type="xsd:string" minOccurs="0"/>
				<xsd:element name="importer" type="xsd:string" minOccurs="0"/>
				<xsd:element name="incoTerms" type="xsd:string" minOccurs="0"/>
				<xsd:element name="incoTermsNamedPlace" type="xsd:string" minOccurs="0"/>
				<xsd:element name="paymentTerms" type="xsd:string" minOccurs="0"/>
				<xsd:element name="exportingShipVia" type="xsd:string" minOccurs="0"/>
				<xsd:element name="portOfLoading" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pierport3flds" type="xsd:string" minOccurs="0"/>
				<xsd:element name="containerized" type="xsd:string" minOccurs="0"/>
				<xsd:element name="validatedLicense" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ecoCommodityCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="related" type="xsd:string" minOccurs="0"/>
				<xsd:element name="documentsOnlyshipment" type="xsd:string" minOccurs="0"/>
				<xsd:element name="generalMerchadiseDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pallletSeqUsed" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode6" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode7" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode8" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode9" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode10" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custChargeShipVia" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custChargeOrigin" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custChargeServiceLevel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custChargeDiscountPerce" type="xsd:string" minOccurs="0"/>
				<xsd:element name="codPaymentType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="globalLocationNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="anchorByField1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="anchorByField2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="anchorByField3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns5Byte1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns5Byte2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns5Byte3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns5Byte4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns10Byte1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns10Byte2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNum1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNum2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNum3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="allocOpenStockForBlank" type="xsd:string" minOccurs="0"/>
				<xsd:element name="recordExpansionField" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custRCDExpansion" type="xsd:string" minOccurs="0"/>
				<xsd:element name="merchDept" type="xsd:string" minOccurs="0"/>
				<xsd:element name="function" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custProfileID" type="xsd:string" minOccurs="0"/>
				<xsd:element name="poType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bedBathBeyondCarrierCd" type="xsd:string" minOccurs="0"/>
				<xsd:element name="internalOrderNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cassCertifiedPriNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cassCertifiedSecNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crtnNbrType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="vasType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="dayOfWeek" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shiftNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="scheduleDeliveryDateEnd" type="xsd:string" minOccurs="0"/>
				<xsd:element name="isHazardousMaterial" type="xsd:string" minOccurs="0"/>
				<xsd:element name="omPO" type="xsd:string" minOccurs="0"/>
				<xsd:element name="transporationPlanningSystem" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tpeTriggerPt" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="poDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte6" type="xsd:string" minOccurs="0"/>
				<xsd:element name="merchDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNum4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNum5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNum6" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tmsHost" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nbrOfDetailLines" type="xsd:string" minOccurs="0"/>
				<xsd:element name="deliveryDateFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="deliveryDate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ffSender" type="xsd:string" minOccurs="0"/>
				<xsd:element name="importerAcctFiller" type="xsd:string" minOccurs="0"/>
				<xsd:element name="maxSKUsToCube" type="xsd:string" minOccurs="0"/>
				<xsd:element name="hostData" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="pktDetails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="pktDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="pktDetail">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="errorSeq" type="xsd:string" minOccurs="0"/>
				<xsd:element name="batchCtlNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="dateCreated" type="xsd:string" minOccurs="0"/>
				<xsd:element name="timeCreated" type="xsd:string" minOccurs="0"/>
				<xsd:element name="userId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="programId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="company" type="xsd:string" minOccurs="0"/>
				<xsd:element name="division" type="xsd:string" minOccurs="0"/>
				<xsd:element name="w" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktCtlNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktLineNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sizeRelPos" type="xsd:string" minOccurs="0"/>
				<xsd:element name="warehouse" type="xsd:string" minOccurs="0"/>
				<xsd:element name="waveProcessingType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="season" type="xsd:string" minOccurs="0"/>
				<xsd:element name="seasonYear" type="xsd:string" minOccurs="0"/>
				<xsd:element name="style" type="xsd:string" minOccurs="0"/>
				<xsd:element name="filler" type="xsd:string" minOccurs="0"/>
				<xsd:element name="color" type="xsd:string" minOccurs="0"/>
				<xsd:element name="colorSfx" type="xsd:string" minOccurs="0"/>
				<xsd:element name="secDimension" type="xsd:string" minOccurs="0"/>
				<xsd:element name="quality" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sizeRngeCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sizeDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="skuAttribute1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="skuAttribute2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="skuAttribute3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="skuAttribute4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="skuAttribute5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="productStatus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="lotNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="countryOfOrigin" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packageBarcode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="checkDigit" type="xsd:string" minOccurs="0"/>
				<xsd:element name="area" type="xsd:string" minOccurs="0"/>
				<xsd:element name="zone" type="xsd:string" minOccurs="0"/>
				<xsd:element name="aisle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bay" type="xsd:string" minOccurs="0"/>
				<xsd:element name="level" type="xsd:string" minOccurs="0"/>
				<xsd:element name="position" type="xsd:string" minOccurs="0"/>
				<xsd:element name="inventoryType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pathNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pickLocAssigmentType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pickDeterminationType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="origOrderQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="origPktQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cancelQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packMultipleQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="boxQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="caseQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tierQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="palletQuantity" type="xsd:string" minOccurs="0"/>
				<xsd:element name="unitWeight" type="xsd:string" minOccurs="0"/>
				<xsd:element name="unitVolume" type="xsd:string" minOccurs="0"/>
				<xsd:element name="innerPackWeight" type="xsd:string" minOccurs="0"/>
				<xsd:element name="innerPackVolume" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packMultipleWeight" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packMultipleVolume" type="xsd:string" minOccurs="0"/>
				<xsd:element name="styleDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="colorDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custSku" type="xsd:string" minOccurs="0"/>
				<xsd:element name="prePackGrpCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="assortmentNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nbrUnitInPPK" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shelfDays" type="xsd:string" minOccurs="0"/>
				<xsd:element name="printPriceTicketWithWave" type="xsd:string" minOccurs="0"/>
				<xsd:element name="priceTicketType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="palletType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cartonType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crtnBrkAttribute" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crticalDimension1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crticalDimension2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crticalDimension3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stdCaseWeight" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stdCaseVolume" type="xsd:string" minOccurs="0"/>
				<xsd:element name="vasStatus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="vasType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="vasGroup" type="xsd:string" minOccurs="0"/>
				<xsd:element name="notUsed" type="xsd:string" minOccurs="0"/>
				<xsd:element name="unitOfMeasure" type="xsd:string" minOccurs="0"/>
				<xsd:element name="preCubeFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="isbnNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="price" type="xsd:string" minOccurs="0"/>
				<xsd:element name="retlPrice" type="xsd:string" minOccurs="0"/>
				<xsd:element name="descDlrs" type="xsd:string" minOccurs="0"/>
				<xsd:element name="taxable" type="xsd:string" minOccurs="0"/>
				<xsd:element name="taxPercentage" type="xsd:string" minOccurs="0"/>
				<xsd:element name="supprPrtAmounts" type="xsd:string" minOccurs="0"/>
				<xsd:element name="msgId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="customTag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tariffClass" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packAreaCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pickRate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packRate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="overSizeLength" type="xsd:string" minOccurs="0"/>
				<xsd:element name="I2of5PackQtyRef" type="xsd:string" minOccurs="0"/>
				<xsd:element name="I2of5CaseQtyRef" type="xsd:string" minOccurs="0"/>
				<xsd:element name="I2of5TeirQtyRef" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ruleNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="InvAllocType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="workType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packZone" type="xsd:string" minOccurs="0"/>
				<xsd:element name="serialNbrReq" type="xsd:string" minOccurs="0"/>
				<xsd:element name="protectionFactor" type="xsd:string" minOccurs="0"/>
				<xsd:element name="skuInventory" type="xsd:string" minOccurs="0"/>
				<xsd:element name="chuteAssignmentType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="minsIns20Byte1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="minsIns20Byte2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="minsIns20Byte3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="recordExpansionField" type="xsd:string" minOccurs="0"/>
				<xsd:element name="customRCDExpansionField" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nmfcCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="itemVersSubstnMethod" type="xsd:string" minOccurs="0"/>
				<xsd:element name="lotRequirementType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="drpProcessingType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crushabilityCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="eventCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="innerCartonItem" type="xsd:string" minOccurs="0"/>
				<xsd:element name="innerCartonType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="innerCartonBreakAttr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tpePO" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tpeTransporationOrderNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte6" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte7" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte8" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte9" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte10" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns5Byte1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns5Byte2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns5Byte3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns5Byte4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns10Byte1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns10Byte2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns10Byte3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns10Byte4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte11" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte12" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte13" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte14" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber6" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber7" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber8" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber9" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber10" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber11" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber12" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cartonEpcType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="palletEpcType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="garmentOnHangerFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="allocateIncubateCase" type="xsd:string" minOccurs="0"/>
				<xsd:element name="exportIdentificationCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="markAndNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="allocationMethod" type="xsd:string" minOccurs="0"/>
				<xsd:element name="exceedForClassAlloc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="poLine" type="xsd:string" minOccurs="0"/>
				<xsd:element name="singleStopPallet" type="xsd:string" minOccurs="0"/>
				<xsd:element name="customerMaxPalletCube" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bundleQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="maxDispenseQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="preTicketed" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tpeRoute" type="xsd:string" minOccurs="0"/>
				<xsd:element name="exportPermitNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="exportPermitDate" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="pktDetailsENF">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="pktDetailENF" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="pktDetailENF">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="errorSeq" type="xsd:string" minOccurs="0"/>
				<xsd:element name="batchCtlNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="dateCreated" type="xsd:string" minOccurs="0"/>
				<xsd:element name="timeCreated" type="xsd:string" minOccurs="0"/>
				<xsd:element name="userId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="programId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="company" type="xsd:string" minOccurs="0"/>
				<xsd:element name="division" type="xsd:string" minOccurs="0"/>
				<xsd:element name="w" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktCtlNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktLineNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sizeRelPos" type="xsd:string" minOccurs="0"/>
				<xsd:element name="warehouse" type="xsd:string" minOccurs="0"/>
				<xsd:element name="waveProcessingType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="season" type="xsd:string" minOccurs="0"/>
				<xsd:element name="seasonYear" type="xsd:string" minOccurs="0"/>
				<xsd:element name="style" type="xsd:string" minOccurs="0"/>
				<xsd:element name="filler" type="xsd:string" minOccurs="0"/>
				<xsd:element name="color" type="xsd:string" minOccurs="0"/>
				<xsd:element name="colorSfx" type="xsd:string" minOccurs="0"/>
				<xsd:element name="secDimension" type="xsd:string" minOccurs="0"/>
				<xsd:element name="quality" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sizeRngeCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sizeDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="skuAttribute1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="skuAttribute2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="skuAttribute3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="skuAttribute4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="skuAttribute5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="productStatus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="lotNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="countryOfOrigin" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packageBarcode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="checkDigit" type="xsd:string" minOccurs="0"/>
				<xsd:element name="area" type="xsd:string" minOccurs="0"/>
				<xsd:element name="zone" type="xsd:string" minOccurs="0"/>
				<xsd:element name="aisle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bay" type="xsd:string" minOccurs="0"/>
				<xsd:element name="level" type="xsd:string" minOccurs="0"/>
				<xsd:element name="position" type="xsd:string" minOccurs="0"/>
				<xsd:element name="inventoryType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pathNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pickLocAssigmentType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pickDeterminationType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="origOrderQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="origPktQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cancelQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packMultipleQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="boxQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="caseQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tierQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="palletQuantity" type="xsd:string" minOccurs="0"/>
				<xsd:element name="unitWeight" type="xsd:string" minOccurs="0"/>
				<xsd:element name="unitVolume" type="xsd:string" minOccurs="0"/>
				<xsd:element name="innerPackWeight" type="xsd:string" minOccurs="0"/>
				<xsd:element name="innerPackVolume" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packMultipleWeight" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packMultipleVolume" type="xsd:string" minOccurs="0"/>
				<xsd:element name="styleDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="colorDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="custSku" type="xsd:string" minOccurs="0"/>
				<xsd:element name="prePackGrpCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="assortmentNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nbrUnitInPPK" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shelfDays" type="xsd:string" minOccurs="0"/>
				<xsd:element name="printPriceTicketWithWave" type="xsd:string" minOccurs="0"/>
				<xsd:element name="priceTicketType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="palletType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cartonType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crtnBrkAttribute" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crticalDimension1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crticalDimension2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crticalDimension3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stdCaseWeight" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stdCaseVolume" type="xsd:string" minOccurs="0"/>
				<xsd:element name="vasStatus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="vasType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="vasGroup" type="xsd:string" minOccurs="0"/>
				<xsd:element name="notUsed" type="xsd:string" minOccurs="0"/>
				<xsd:element name="unitOfMeasure" type="xsd:string" minOccurs="0"/>
				<xsd:element name="preCubeFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="isbnNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="price" type="xsd:string" minOccurs="0"/>
				<xsd:element name="retlPrice" type="xsd:string" minOccurs="0"/>
				<xsd:element name="descDlrs" type="xsd:string" minOccurs="0"/>
				<xsd:element name="taxable" type="xsd:string" minOccurs="0"/>
				<xsd:element name="taxPercentage" type="xsd:string" minOccurs="0"/>
				<xsd:element name="supprPrtAmounts" type="xsd:string" minOccurs="0"/>
				<xsd:element name="msgId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="customTag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tariffClass" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packAreaCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pickRate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packRate" type="xsd:string" minOccurs="0"/>
				<xsd:element name="overSizeLength" type="xsd:string" minOccurs="0"/>
				<xsd:element name="I2of5PackQtyRef" type="xsd:string" minOccurs="0"/>
				<xsd:element name="I2of5CaseQtyRef" type="xsd:string" minOccurs="0"/>
				<xsd:element name="I2of5TeirQtyRef" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ruleNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="InvAllocType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="workType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="packZone" type="xsd:string" minOccurs="0"/>
				<xsd:element name="serialNbrReq" type="xsd:string" minOccurs="0"/>
				<xsd:element name="protectionFactor" type="xsd:string" minOccurs="0"/>
				<xsd:element name="skuInventory" type="xsd:string" minOccurs="0"/>
				<xsd:element name="chuteAssignmentType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spclInsCode5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="minsIns20Byte1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="minsIns20Byte2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="minsIns20Byte3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber1" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber3" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="recordExpansionField" type="xsd:string" minOccurs="0"/>
				<xsd:element name="customRCDExpansionField" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nmfcCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="itemVersSubstnMethod" type="xsd:string" minOccurs="0"/>
				<xsd:element name="lotRequirementType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="drpProcessingType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crushabilityCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="eventCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="innerCartonItem" type="xsd:string" minOccurs="0"/>
				<xsd:element name="innerCartonType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="innerCartonBreakAttr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tpePO" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tpeTransporationOrderNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte4" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte5" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte6" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte7" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte8" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte9" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscIns20Byte10" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber6" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber7" type="xsd:string" minOccurs="0"/>
				<xsd:element name="miscNumber8" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cartonEpcType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="palletEpcType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="garmentOnHangerFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="allocateIncubateCase" type="xsd:string" minOccurs="0"/>
				<xsd:element name="exportIdentificationCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="markAndNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="allocationMethod" type="xsd:string" minOccurs="0"/>
				<xsd:element name="exceedForClassAlloc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="poLine" type="xsd:string" minOccurs="0"/>
				<xsd:element name="customerSKU" type="xsd:string" minOccurs="0"/>
				<xsd:element name="singleStopPallet" type="xsd:string" minOccurs="0"/>
				<xsd:element name="customerMaxPalletCube" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bundleQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="maxDispenseQty" type="xsd:string" minOccurs="0"/>
				<xsd:element name="preTicketed" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="pktComments">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="pktComment" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="pktComment">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="errorSeq" type="xsd:string" minOccurs="0"/>
				<xsd:element name="batchCtlNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="dateCreated" type="xsd:string" minOccurs="0"/>
				<xsd:element name="timeCreated" type="xsd:string" minOccurs="0"/>
				<xsd:element name="userId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="w" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktCtlNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pktLineNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="splInstrNbr" type="xsd:string" minOccurs="0"/>
				<xsd:element name="splInstrType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="splInstrCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="filler" type="xsd:string" minOccurs="0"/>
				<xsd:element name="splInstrDesc" type="xsd:string" minOccurs="0"/>
				<xsd:element name="recordExpansionField" type="xsd:string" minOccurs="0"/>
				<xsd:element name="customRCDExpansionField" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>