Code/SharedModules/BWCommon/Schemas/Common/Interfaces/RestockingSKU/SKU.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.urbanoutfitters.com/restockingsku/sku"
	 xmlns:ns0="http://www.urbanoutfitters.com/co/common"
	 xmlns:ns1="http://www.urbanoutfitters.com/co/fault"
	 xmlns:ns2="http://www.urbanoutfitters.com/co/base"
	 targetNamespace="http://www.urbanoutfitters.com/restockingsku/sku"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.urbanoutfitters.com/co/common" schemaLocation="../../Objects/Common.xsd"/>
	<xs:import namespace="http://www.urbanoutfitters.com/co/fault" schemaLocation="../../Objects/Fault.xsd"/>
	<xs:import namespace="http://www.urbanoutfitters.com/co/base" schemaLocation="../../Objects/Base.xsd"/>
	<xs:element name="SKU">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SKURequest" minOccurs="0"/>
				<xs:element ref="SKUResponse" minOccurs="0"/>
				<xs:element name="Header" type="ns0:HeaderType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SKURequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="skus" minOccurs="0"/>
				<xs:element name="requestHeader" type="ns2:HeaderType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SKUResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SKUS" minOccurs="0"/>
				<xs:element ref="Fault" minOccurs="0"/>
				<xs:element ref="TooManyFlag" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Header" type="xs:string"/>
	<xs:element name="skus">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SearchType" type="xs:string" minOccurs="0"/>
				<xs:element name="Store" type="xs:string" minOccurs="0"/>
				<xs:element name="StyleNo" type="xs:string" minOccurs="0"/>
				<xs:element name="ClassID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="requestHeader" type="ns2:HeaderType"/>
	<xs:element name="SKUS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Store" type="xs:string" minOccurs="0"/>
				<xs:element name="DivsionID" type="xs:string" minOccurs="0"/>
				<xs:element name="DivisionDescription" type="xs:string" minOccurs="0"/>
				<xs:element name="ClassID" type="xs:string" minOccurs="0"/>
				<xs:element name="ClassDescription" type="xs:string" minOccurs="0"/>
				<xs:element name="StyleNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="StyleDescription" type="xs:string" minOccurs="0"/>
				<xs:element name="Sku" type="xs:string" minOccurs="0"/>
				<xs:element name="QuatityToBFilled" type="xs:string" minOccurs="0"/>
				<xs:element name="SKUImageURL" type="xs:string" minOccurs="0"/>
				<xs:element name="ColorDescription" type="xs:string" minOccurs="0"/>
				<xs:element name="SizeDescription" type="xs:string" minOccurs="0"/>
				<xs:element name="CurrentRetailPrice" type="xs:string" minOccurs="0"/>
				<xs:element name="OnHand" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fault" type="ns1:FaultType"/>
	<xs:element name="TooManyFlag" type="xs:string"/>
</xs:schema>