Code/SharedModules/BWCommon/Schemas/Common/Interfaces/PIXJSON/pixJson.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="pix">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pixJson" type="xs:string"/>
				<xs:element name="resoucePath" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>