Code/ApplicationModules/PrintLabel/PrintLabel/Schemas/DirectSkuLabelServiceResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1592424383398" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1592424383398">
  <complexType name="PrintDirectSkuLabelServiceResponseElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="caseNumber" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="code" type="string"/>
    </sequence>
  </complexType>
  <element name="PrintDirectSkuLabelServiceResponseElement" type="tns:PrintDirectSkuLabelServiceResponseElementType"/>
</schema>
