Code/ApplicationModules/PrintLabel/PrintLabel/Schemas/ShippingLabelServiceRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1588874086173" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1588874086173">
  <complexType name="PrintShippingLabelServiceRequestElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="printerIp" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="trackingNumber" type="string"/>
    </sequence>
  </complexType>
  <element name="PrintShippingLabelServiceRequestElement" type="tns:PrintShippingLabelServiceRequestElementType"/>
</schema>
