Code/SharedModules/BWCommon/Schemas/Common/Interfaces/Loyalty/LoyaltyCreditPoints.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.urbanoutfitters.com/Loyalty/LoyaltyCreditPoints"
	 xmlns:ns0="http://www.urbanoutfitters.com/co/common"
	 targetNamespace="http://www.urbanoutfitters.com/Loyalty/LoyaltyCreditPoints"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.urbanoutfitters.com/co/common" schemaLocation="../../Objects/Common.xsd"/>
	<xs:element name="LoyaltyCreditPoints" type="LoyaltyCreditPointsType"/>
	<xs:complexType name="LoyaltyCreditPointsType">
		<xs:sequence>
			<xs:element name="Header" type="ns0:HeaderType" minOccurs="0"/>
			<xs:element name="CreditPoints" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LoyaltyID" type="xs:string" minOccurs="0"/>
						<xs:element name="Score" type="xs:string" minOccurs="0"/>
						<xs:element name="Category" type="xs:string" minOccurs="0"/>
						<xs:element name="Reset_score" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>