Code/SharedModules/BWCommon/Schemas/Common/Interfaces/TMALL/InventorySync.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.urbanoutfitters.com/tmall/inventorysync"
	 xmlns:ns0="http://www.urbanoutfitters.com/co/common"
	 targetNamespace="http://www.urbanoutfitters.com/tmall/inventorysync"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.urbanoutfitters.com/co/common" schemaLocation="../../Objects/Common.xsd"/>
	<xs:element name="InventorySync" type="InventorySyncType"/>
	<xs:complexType name="InventorySyncType">
		<xs:sequence>
			<xs:element name="Header" type="ns0:HeaderType" minOccurs="0"/>
			<xs:element ref="Inventory" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Inventory">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RecordType" type="xs:string" minOccurs="0"/>
						<xs:element name="Company" type="xs:string" minOccurs="0"/>
						<xs:element name="Key" type="xs:string" minOccurs="0"/>
						<xs:element name="SKU" type="xs:string" minOccurs="0"/>
						<xs:element name="Quantity" type="xs:string" minOccurs="0"/>
						<xs:element name="InventoryStatus" type="xs:string" minOccurs="0"/>
						<xs:element name="Brand" type="xs:string" minOccurs="0"/>
						<xs:element name="field1" type="xs:string" minOccurs="0"/>
						<xs:element name="field2" type="xs:string" minOccurs="0"/>
						<xs:element name="field3" type="xs:string" minOccurs="0"/>
						<xs:element name="field4" type="xs:string" minOccurs="0"/>
						<xs:element name="field5" type="xs:string" minOccurs="0"/>
						<xs:element name="field6" type="xs:string" minOccurs="0"/>
						<xs:element name="field7" type="xs:string" minOccurs="0"/>
						<xs:element name="field8" type="xs:string" minOccurs="0"/>
						<xs:element name="field9" type="xs:string" minOccurs="0"/>
						<xs:element name="field10" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>