Code/SharedModules/BWCommon/Schemas/Common/Interfaces/ASENDIA/AsendiaOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.urbanoutfitters.com/ASENDIA/Order"
	 targetNamespace="http://www.urbanoutfitters.com/ASENDIA/Order"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Order">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OrderId" type="xs:string" minOccurs="0"/>
				<xs:element name="PckCount" type="xs:string" minOccurs="0"/>
				<xs:element name="StatusDateTime" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>