Code/SharedModules/BWCommon/Schemas/Common/Interfaces/Salesforce/CreateSalesforceClose.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.urbanoutfitters.com/salesforce/close"
	 xmlns:ns0="http://www.urbanoutfitters.com/co/common"
	 targetNamespace="http://www.urbanoutfitters.com/salesforce/close"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.urbanoutfitters.com/co/common" schemaLocation="../../Objects/Common.xsd"/>
	<xs:element name="CreateSalesforceClose" type="CreateSalesforceCloseType"/>
	<xs:complexType name="CreateSalesforceCloseType">
		<xs:sequence>
			<xs:element name="Header" type="ns0:HeaderType" minOccurs="0"/>
			<xs:element name="CloseCase" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Status" type="xs:string" minOccurs="0"/>
						<xs:element name="ExtnSalesforceCase" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>