Code/SharedModules/BWCommon/Schemas/Common/Objects/Item/Item.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.urbanoutfitters.com/co/item/item"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://www.urbanoutfitters.com/co/item/item"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="Item" type="ItemType"/>
	<xsd:complexType name="ItemType">
		<xsd:sequence>
			<xsd:element name="system" type="xsd:string" minOccurs="0"/>
			<xsd:element name="database" type="xsd:string" minOccurs="0"/>
			<xsd:element name="loadTo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="brand" type="xsd:string" minOccurs="0"/>
			<xsd:element name="division" type="xsd:string" minOccurs="0"/>
			<xsd:element name="department" type="xsd:string" minOccurs="0"/>
			<xsd:element name="class" type="xsd:string" minOccurs="0"/>
			<xsd:element name="vendor" type="xsd:string" minOccurs="0"/>
			<xsd:element name="style" type="xsd:string" minOccurs="0"/>
			<xsd:element name="color" type="xsd:string" minOccurs="0"/>
			<xsd:element name="size" type="xsd:string" minOccurs="0"/>
			<xsd:element name="shortSKUNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="itemDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="vendorStyleNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ISBNnumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ticketFormat" type="xsd:string" minOccurs="0"/>
			<xsd:element name="creationDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="creationISODate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="actualCost" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileRetailForChain" type="xsd:string" minOccurs="0"/>
			<xsd:element name="splitPriceRetail" type="xsd:string" minOccurs="0"/>
			<xsd:element name="leadTime" type="xsd:string" minOccurs="0"/>
			<xsd:element name="countryOfOrigin" type="xsd:string" minOccurs="0"/>
			<xsd:element name="commodityCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="colorName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="sizeName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="productSku" type="xsd:string" minOccurs="0"/>
			<xsd:element name="product" type="xsd:string" minOccurs="0"/>
			<xsd:element name="styleMatrix" type="xsd:string" minOccurs="0"/>
			<xsd:element name="giftWrap" type="xsd:string" minOccurs="0"/>
			<xsd:element name="shippingAndHandling" type="xsd:string" minOccurs="0"/>
			<xsd:element name="restrictShip" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dropShipFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="directShipMethod" type="xsd:string" minOccurs="0"/>
			<xsd:element name="shpDescProdCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="giftCard" type="xsd:string" minOccurs="0"/>
			<xsd:element name="navyYardFulfill" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dropShipVendor" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ecometryEdp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ecometryStyle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ecometryColorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ecometrySizeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ecometrySizeDesc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="shipAloneFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dropShipLeadDays" type="xsd:string" minOccurs="0"/>
			<xsd:element name="shippingChargeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="isGiftWrapCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="callCenterKeyword" type="xsd:string" minOccurs="0"/>
			<xsd:element name="callCenterUpsaleWords" type="xsd:string" minOccurs="0"/>
			<xsd:element name="styleCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="brandUbc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="prepackFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="colorNameUbc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="categoryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="prepackQuantity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="hold" type="xsd:string" minOccurs="0"/>
			<xsd:element name="changeTimestamp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="sourcingPriorityCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="storeShipEligibleFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="edpNoFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="classDesc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="taxClassCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="unitWeight" type="xsd:string" minOccurs="0"/>
			<xsd:element name="oldClass" type="xsd:string" minOccurs="0"/>
			<xsd:element name="oldVendor" type="xsd:string" minOccurs="0"/>
			<xsd:element name="oldStyle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="blank" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExtnEAN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field4" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field5" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field6" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field7" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field8" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field9" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field10" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field11" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field12" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field13" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field14" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field15" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field16" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field17" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field18" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field19" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field20" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field21" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field22" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field23" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field24" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field25" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field26" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field27" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field28" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field29" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field30" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field31" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field32" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field33" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field34" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field35" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field36" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field37" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field38" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field39" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Field40" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IVEN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IMKD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IVST" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ICGP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IACC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT01" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT02" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT03" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT04" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT05" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT06" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT07" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT08" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT09" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT10" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT11" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT12" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT13" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT14" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT15" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT16" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT17" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT18" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT19" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT20" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT21" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT22" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT23" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT24" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT25" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT26" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT27" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT28" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT29" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT30" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT31" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT32" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT33" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT34" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT35" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT36" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT37" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT38" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT39" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT40" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT41" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT42" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT43" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT44" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT45" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT46" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT47" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT48" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT49" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IATT50" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OGTIN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CSDESC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ComponentSKU" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="system" type="xsd:string" minOccurs="0"/>
						<xsd:element name="database" type="xsd:string" minOccurs="0"/>
						<xsd:element name="loadTo" type="xsd:string" minOccurs="0"/>
						<xsd:element name="recordType" type="xsd:string" minOccurs="0"/>
						<xsd:element name="compnentSku" type="xsd:string" minOccurs="0"/>
						<xsd:element name="class" type="xsd:string" minOccurs="0"/>
						<xsd:element name="vendor" type="xsd:string" minOccurs="0"/>
						<xsd:element name="style" type="xsd:string" minOccurs="0"/>
						<xsd:element name="color" type="xsd:string" minOccurs="0"/>
						<xsd:element name="size" type="xsd:string" minOccurs="0"/>
						<xsd:element name="itemDescription" type="xsd:string" minOccurs="0"/>
						<xsd:element name="primaryComponent" type="xsd:string" minOccurs="0"/>
						<xsd:element name="defaultClassForSetSku" type="xsd:string" minOccurs="0"/>
						<xsd:element name="defaultVendorForSetSku" type="xsd:string" minOccurs="0"/>
						<xsd:element name="componentType" type="xsd:string" minOccurs="0"/>
						<xsd:element name="componentTypeDesc" type="xsd:string" minOccurs="0"/>
						<xsd:element name="componentTypeGrade" type="xsd:string" minOccurs="0"/>
						<xsd:element name="compTypeGradeDesc" type="xsd:string" minOccurs="0"/>
						<xsd:element name="grade" type="xsd:string" minOccurs="0"/>
						<xsd:element name="gradeDescription" type="xsd:string" minOccurs="0"/>
						<xsd:element name="mtoPrimary" type="xsd:string" minOccurs="0"/>
						<xsd:element name="field1" type="xsd:string" minOccurs="0"/>
						<xsd:element name="field2" type="xsd:string" minOccurs="0"/>
						<xsd:element name="field3" type="xsd:string" minOccurs="0"/>
						<xsd:element name="field4" type="xsd:string" minOccurs="0"/>
						<xsd:element name="field5" type="xsd:string" minOccurs="0"/>
						<xsd:element name="field6" type="xsd:string" minOccurs="0"/>
						<xsd:element name="field7" type="xsd:string" minOccurs="0"/>
						<xsd:element name="field8" type="xsd:string" minOccurs="0"/>
						<xsd:element name="field9" type="xsd:string" minOccurs="0"/>
						<xsd:element name="field10" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>