Code/ApplicationModules/Yantriks/Yantriks.module/Schemas/AuditContext.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.example.com/namespaces/tns/1587843285059" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://www.example.com/namespaces/tns/1587843285059">
  <xsd:element name="AuditContext">
  <xsd:complexType>
    		<xsd:sequence>
    <xsd:element name="Name" type="xsd:string"/>
    <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
    	</xsd:complexType>
    </xsd:element>    
</xsd:schema>
