Code/ApplicationModules/Yantriks/Yantriks.module/Schemas/Key.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Key" xmlns:tns="http://www.example.org/Key" elementFormDefault="qualified">

    <element name="Key" type="tns:KeyType"></element>

    <complexType name="KeyType">
    	<sequence>
    		<element name="productId" type="string" minOccurs="0" maxOccurs="1"></element>
    		<element name="locationId" type="string" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>