Code/ApplicationModules/TransferEnhancement/TransferEnhancement.module/Schemas/AuditContext.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.example.com/namespaces/tns/1585509685684" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://www.example.com/namespaces/tns/1585509685684">
<xsd:element name="AuditContext">
		<xsd:complexType>
			<xsd:sequence>							
				<xsd:element maxOccurs="1" minOccurs="1" name="AuditContextName" type="xsd:string"/>
				<xsd:element maxOccurs="1" minOccurs="1" name="AuditContextValue" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
</xsd:element>
</xsd:schema>
