Code/ApplicationModules/TransferEnhancement/TransferEnhancement.module/Schemas/SkuCreateResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1586786935070" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1586786935070">
  <complexType name="SkuCreateResponseElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="created" type="boolean"/>
    </sequence>
  </complexType>
  <element name="SkuCreateResponseElement" type="tns:SkuCreateResponseElementType"/>
</schema>
