Code/ApplicationModules/TransferEnhancement/TransferEnhancement.module/Schemas/TransferUpdateResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1587667644728" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1587667644728">
  <complexType name="TransferUpdateResponseElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="trackingNumber" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="printFailed" type="boolean"/>
    </sequence>
  </complexType>
  <element name="TransferUpdateResponseElement" type="tns:TransferUpdateResponseElementType"/>
</schema>
