Code/ApplicationModules/TransferEnhancement/TransferEnhancement.module/Schemas/TransferUpdateRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1587667497639" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1587667497639">
  <complexType name="TransferUpdateRequestElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="printerIp" type="string"/>
    </sequence>
  </complexType>
  <element name="TransferUpdateRequestElement" type="tns:TransferUpdateRequestElementType"/>
</schema>
