Code/SharedModules/BWCommon/Schemas/Common/Interfaces/Mirakl/M01Email.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.urbanoutfitters.com/Mirakl/M01Email"
	 xmlns:ns0="http://www.urbanoutfitters.com/co/common"
	 targetNamespace="http://www.urbanoutfitters.com/Mirakl/M01Email"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.urbanoutfitters.com/co/common" schemaLocation="../../Objects/Common.xsd"/>
	<xs:element name="MiraklEmail" type="MiraklEmailType"/>
	<xs:complexType name="MiraklEmailType">
		<xs:sequence>
			<xs:element name="Header" type="ns0:HeaderType" minOccurs="0"/>
			<xs:element name="Data" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Marketplace_Seller_Message" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Document_Key" type="xs:string" minOccurs="0"/>
									<xs:element name="Unique_Key" type="xs:string" minOccurs="0"/>
									<xs:element name="Brand_Id" type="xs:string" minOccurs="0"/>
									<xs:element name="Email" type="xs:string" minOccurs="0"/>
									<xs:element name="Order" type="xs:string" minOccurs="0"/>
									<xs:element name="Language_Code" type="xs:string" minOccurs="0"/>
									<xs:element name="Site_Id" type="xs:string" minOccurs="0"/>
									<xs:element name="Billing_Fname" type="xs:string" minOccurs="0"/>
									<xs:element name="Billing_Lname" type="xs:string" minOccurs="0"/>
									<xs:element name="Seller_Name" type="xs:string" minOccurs="0"/>
									<xs:element name="Seller_Message_Subject" type="xs:string" minOccurs="0"/>
									<xs:element name="Seller_Message_Body" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Attachments" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FileName" type="xs:string" minOccurs="0"/>
						<xs:element name="MimeType" type="xs:string" minOccurs="0"/>
						<xs:element name="FileContents" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>