Code/SharedModules/BWCommon/Schemas/Common/Interfaces/Mirakl/UO_GetNodeDetailsOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="OrganizationList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Organization" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CorporatePersonInfo" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="AddressLine1" type="xs:string"/>
									<xs:attribute name="AddressLine2" type="xs:string"/>
									<xs:attribute name="AddressLine3" type="xs:string"/>
									<xs:attribute name="AddressLine4" type="xs:string"/>
									<xs:attribute name="AddressLine5" type="xs:string"/>
									<xs:attribute name="AddressLine6" type="xs:string"/>
									<xs:attribute name="AlternateEmailID" type="xs:string"/>
									<xs:attribute name="Beeper" type="xs:string"/>
									<xs:attribute name="City" type="xs:string"/>
									<xs:attribute name="Company" type="xs:string"/>
									<xs:attribute name="Country" type="xs:string"/>
									<xs:attribute name="DayFaxNo" type="xs:string"/>
									<xs:attribute name="DayPhone" type="xs:string"/>
									<xs:attribute name="Department" type="xs:string"/>
									<xs:attribute name="EMailID" type="xs:string"/>
									<xs:attribute name="ErrorTxt" type="xs:string"/>
									<xs:attribute name="EveningFaxNo" type="xs:string"/>
									<xs:attribute name="EveningPhone" type="xs:string"/>
									<xs:attribute name="FirstName" type="xs:string"/>
									<xs:attribute name="HttpUrl" type="xs:string"/>
									<xs:attribute name="JobTitle" type="xs:string"/>
									<xs:attribute name="LastName" type="xs:string"/>
									<xs:attribute name="MiddleName" type="xs:string"/>
									<xs:attribute name="MobilePhone" type="xs:string"/>
									<xs:attribute name="OtherPhone" type="xs:string"/>
									<xs:attribute name="PersonID" type="xs:string"/>
									<xs:attribute name="PersonInfoKey" type="xs:string"/>
									<xs:attribute name="PreferredShipAddress" type="xs:string"/>
									<xs:attribute name="State" type="xs:string"/>
									<xs:attribute name="Suffix" type="xs:string"/>
									<xs:attribute name="Title" type="xs:string"/>
									<xs:attribute name="UseCount" type="xs:string"/>
									<xs:attribute name="VerificationStatus" type="xs:string"/>
									<xs:attribute name="ZipCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="ContactPersonInfo" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="AddressLine1" type="xs:string"/>
									<xs:attribute name="AddressLine2" type="xs:string"/>
									<xs:attribute name="AddressLine3" type="xs:string"/>
									<xs:attribute name="AddressLine4" type="xs:string"/>
									<xs:attribute name="AddressLine5" type="xs:string"/>
									<xs:attribute name="AddressLine6" type="xs:string"/>
									<xs:attribute name="AlternateEmailID" type="xs:string"/>
									<xs:attribute name="Beeper" type="xs:string"/>
									<xs:attribute name="City" type="xs:string"/>
									<xs:attribute name="Company" type="xs:string"/>
									<xs:attribute name="Country" type="xs:string"/>
									<xs:attribute name="DayFaxNo" type="xs:string"/>
									<xs:attribute name="DayPhone" type="xs:string"/>
									<xs:attribute name="Department" type="xs:string"/>
									<xs:attribute name="EMailID" type="xs:string"/>
									<xs:attribute name="ErrorTxt" type="xs:string"/>
									<xs:attribute name="EveningFaxNo" type="xs:string"/>
									<xs:attribute name="EveningPhone" type="xs:string"/>
									<xs:attribute name="FirstName" type="xs:string"/>
									<xs:attribute name="HttpUrl" type="xs:string"/>
									<xs:attribute name="JobTitle" type="xs:string"/>
									<xs:attribute name="LastName" type="xs:string"/>
									<xs:attribute name="MiddleName" type="xs:string"/>
									<xs:attribute name="MobilePhone" type="xs:string"/>
									<xs:attribute name="OtherPhone" type="xs:string"/>
									<xs:attribute name="PersonID" type="xs:string"/>
									<xs:attribute name="PersonInfoKey" type="xs:string"/>
									<xs:attribute name="PreferredShipAddress" type="xs:string"/>
									<xs:attribute name="State" type="xs:string"/>
									<xs:attribute name="Suffix" type="xs:string"/>
									<xs:attribute name="Title" type="xs:string"/>
									<xs:attribute name="UseCount" type="xs:string"/>
									<xs:attribute name="VerificationStatus" type="xs:string"/>
									<xs:attribute name="ZipCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="BillingPersonInfo" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="AddressLine1" type="xs:string"/>
									<xs:attribute name="AddressLine2" type="xs:string"/>
									<xs:attribute name="AddressLine3" type="xs:string"/>
									<xs:attribute name="AddressLine4" type="xs:string"/>
									<xs:attribute name="AddressLine5" type="xs:string"/>
									<xs:attribute name="AddressLine6" type="xs:string"/>
									<xs:attribute name="AlternateEmailID" type="xs:string"/>
									<xs:attribute name="Beeper" type="xs:string"/>
									<xs:attribute name="City" type="xs:string"/>
									<xs:attribute name="Company" type="xs:string"/>
									<xs:attribute name="Country" type="xs:string"/>
									<xs:attribute name="DayFaxNo" type="xs:string"/>
									<xs:attribute name="DayPhone" type="xs:string"/>
									<xs:attribute name="Department" type="xs:string"/>
									<xs:attribute name="EMailID" type="xs:string"/>
									<xs:attribute name="ErrorTxt" type="xs:string"/>
									<xs:attribute name="EveningFaxNo" type="xs:string"/>
									<xs:attribute name="EveningPhone" type="xs:string"/>
									<xs:attribute name="FirstName" type="xs:string"/>
									<xs:attribute name="HttpUrl" type="xs:string"/>
									<xs:attribute name="JobTitle" type="xs:string"/>
									<xs:attribute name="LastName" type="xs:string"/>
									<xs:attribute name="MiddleName" type="xs:string"/>
									<xs:attribute name="MobilePhone" type="xs:string"/>
									<xs:attribute name="OtherPhone" type="xs:string"/>
									<xs:attribute name="PersonID" type="xs:string"/>
									<xs:attribute name="PersonInfoKey" type="xs:string"/>
									<xs:attribute name="PreferredShipAddress" type="xs:string"/>
									<xs:attribute name="State" type="xs:string"/>
									<xs:attribute name="Suffix" type="xs:string"/>
									<xs:attribute name="Title" type="xs:string"/>
									<xs:attribute name="UseCount" type="xs:string"/>
									<xs:attribute name="VerificationStatus" type="xs:string"/>
									<xs:attribute name="ZipCode" type="xs:string"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Node" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ShipNodePersonInfo">
											<xs:complexType>
												<xs:attribute name="AddressLine1" type="xs:string"/>
												<xs:attribute name="AddressLine2" type="xs:string"/>
												<xs:attribute name="AddressLine3" type="xs:string"/>
												<xs:attribute name="AddressLine4" type="xs:string"/>
												<xs:attribute name="AddressLine5" type="xs:string"/>
												<xs:attribute name="AddressLine6" type="xs:string"/>
												<xs:attribute name="AlternateEmailID" type="xs:string"/>
												<xs:attribute name="Beeper" type="xs:string"/>
												<xs:attribute name="City" type="xs:string"/>
												<xs:attribute name="Company" type="xs:string"/>
												<xs:attribute name="Country" type="xs:string"/>
												<xs:attribute name="DayFaxNo" type="xs:string"/>
												<xs:attribute name="DayPhone" type="xs:string"/>
												<xs:attribute name="Department" type="xs:string"/>
												<xs:attribute name="EMailID" type="xs:string"/>
												<xs:attribute name="ErrorTxt" type="xs:string"/>
												<xs:attribute name="EveningFaxNo" type="xs:string"/>
												<xs:attribute name="EveningPhone" type="xs:string"/>
												<xs:attribute name="FirstName" type="xs:string"/>
												<xs:attribute name="HttpUrl" type="xs:string"/>
												<xs:attribute name="JobTitle" type="xs:string"/>
												<xs:attribute name="LastName" type="xs:string"/>
												<xs:attribute name="MiddleName" type="xs:string"/>
												<xs:attribute name="MobilePhone" type="xs:string"/>
												<xs:attribute name="OtherPhone" type="xs:string"/>
												<xs:attribute name="PersonID" type="xs:string"/>
												<xs:attribute name="PersonInfoKey" type="xs:string"/>
												<xs:attribute name="PreferredShipAddress" type="xs:string"/>
												<xs:attribute name="State" type="xs:string"/>
												<xs:attribute name="Suffix" type="xs:string"/>
												<xs:attribute name="Title" type="xs:string"/>
												<xs:attribute name="UseCount" type="xs:string"/>
												<xs:attribute name="VerificationStatus" type="xs:string"/>
												<xs:attribute name="ZipCode" type="xs:string"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="ContactPersonInfo" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="AddressLine1" type="xs:string"/>
												<xs:attribute name="AddressLine2" type="xs:string"/>
												<xs:attribute name="AddressLine3" type="xs:string"/>
												<xs:attribute name="AddressLine4" type="xs:string"/>
												<xs:attribute name="AddressLine5" type="xs:string"/>
												<xs:attribute name="AddressLine6" type="xs:string"/>
												<xs:attribute name="AlternateEmailID" type="xs:string"/>
												<xs:attribute name="Beeper" type="xs:string"/>
												<xs:attribute name="City" type="xs:string"/>
												<xs:attribute name="Company" type="xs:string"/>
												<xs:attribute name="Country" type="xs:string"/>
												<xs:attribute name="DayFaxNo" type="xs:string"/>
												<xs:attribute name="DayPhone" type="xs:string"/>
												<xs:attribute name="Department" type="xs:string"/>
												<xs:attribute name="EMailID" type="xs:string"/>
												<xs:attribute name="ErrorTxt" type="xs:string"/>
												<xs:attribute name="EveningFaxNo" type="xs:string"/>
												<xs:attribute name="EveningPhone" type="xs:string"/>
												<xs:attribute name="FirstName" type="xs:string"/>
												<xs:attribute name="HttpUrl" type="xs:string"/>
												<xs:attribute name="JobTitle" type="xs:string"/>
												<xs:attribute name="LastName" type="xs:string"/>
												<xs:attribute name="MiddleName" type="xs:string"/>
												<xs:attribute name="MobilePhone" type="xs:string"/>
												<xs:attribute name="OtherPhone" type="xs:string"/>
												<xs:attribute name="PersonID" type="xs:string"/>
												<xs:attribute name="PersonInfoKey" type="xs:string"/>
												<xs:attribute name="PreferredShipAddress" type="xs:string"/>
												<xs:attribute name="State" type="xs:string"/>
												<xs:attribute name="Suffix" type="xs:string"/>
												<xs:attribute name="Title" type="xs:string"/>
												<xs:attribute name="UseCount" type="xs:string"/>
												<xs:attribute name="VerificationStatus" type="xs:string"/>
												<xs:attribute name="ZipCode" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="AcceptanceRequired" type="xs:string"/>
									<xs:attribute name="ActivateFlag" type="xs:string"/>
									<xs:attribute name="CanShipToOtherAddresses" type="xs:string"/>
									<xs:attribute name="ContactAddressKey" type="xs:string"/>
									<xs:attribute name="CurrentBolNumber" type="xs:string"/>
									<xs:attribute name="DefaultDeclaredValue" type="xs:string"/>
									<xs:attribute name="Description" type="xs:string"/>
									<xs:attribute name="ExportLicenseExpDate" type="xs:string"/>
									<xs:attribute name="ExportLicenseNo" type="xs:string"/>
									<xs:attribute name="ExportTaxpayerId" type="xs:string"/>
									<xs:attribute name="GLN" type="xs:string"/>
									<xs:attribute name="GenerateBolNumber" type="xs:string"/>
									<xs:attribute name="IdentifiedByParentAs" type="xs:string"/>
									<xs:attribute name="InterfaceSubType" type="xs:string"/>
									<xs:attribute name="InterfaceType" type="xs:string"/>
									<xs:attribute name="InventoryTracked" type="xs:string"/>
									<xs:attribute name="Inventorytype" type="xs:string"/>
									<xs:attribute name="Localecode" type="xs:string"/>
									<xs:attribute name="MaintainInventoryCost" type="xs:string"/>
									<xs:attribute name="NodeOrgCode" type="xs:string"/>
									<xs:attribute name="NodeType" type="xs:string"/>
									<xs:attribute name="OwnerKey" type="xs:string"/>
									<xs:attribute name="OwnerType" type="xs:string"/>
									<xs:attribute name="PicklistType" type="xs:string"/>
									<xs:attribute name="ReceiptProcessingTime" type="xs:string"/>
									<xs:attribute name="ReceiptProcessingTimeForForwarding" type="xs:string"/>
									<xs:attribute name="ReceivingNode" type="xs:string"/>
									<xs:attribute name="ReturnCenterFlag" type="xs:string"/>
									<xs:attribute name="ReturnsNode" type="xs:string"/>
									<xs:attribute name="ShipNode" type="xs:string"/>
									<xs:attribute name="ShipNodeAddressKey" type="xs:string"/>
									<xs:attribute name="ShipNodeClass" type="xs:string"/>
									<xs:attribute name="ShipnodeKey" type="xs:string"/>
									<xs:attribute name="ShipnodeType" type="xs:string"/>
									<xs:attribute name="ShippingNode" type="xs:string"/>
									<xs:attribute name="SupplierKey" type="xs:string"/>
									<xs:attribute name="ThreePlNode" type="xs:string"/>
									<xs:attribute name="TimeDiff" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="BillingAddressKey" type="xs:string"/>
						<xs:attribute name="BusinessCalendarKey" type="xs:string"/>
						<xs:attribute name="CatalogOrganizationCode" type="xs:string"/>
						<xs:attribute name="ContactAddressKey" type="xs:string"/>
						<xs:attribute name="CorporateAddressKey" type="xs:string"/>
						<xs:attribute name="CreatorOrganizationKey" type="xs:string"/>
						<xs:attribute name="DefaultDistributionRuleId" type="xs:string"/>
						<xs:attribute name="DefaultPaymentRuleId" type="xs:string"/>
						<xs:attribute name="DefaultPriceProgramKey" type="xs:string"/>
						<xs:attribute name="InheritConfigFromEnterprise" type="xs:string"/>
						<xs:attribute name="InventoryOrganizationCode" type="xs:string"/>
						<xs:attribute name="InventoryPublished" type="xs:string"/>
						<xs:attribute name="IsHubOrganization" type="xs:string"/>
						<xs:attribute name="IsLegalEntity" type="xs:string"/>
						<xs:attribute name="IsNode" type="xs:string"/>
						<xs:attribute name="IsSourcingKept" type="xs:string"/>
						<xs:attribute name="IsTemplate" type="xs:string"/>
						<xs:attribute name="ItemXrefRule" type="xs:string"/>
						<xs:attribute name="LocaleCode" type="xs:string"/>
						<xs:attribute name="OrganizationCode" type="xs:string"/>
						<xs:attribute name="OrganizationKey" type="xs:string"/>
						<xs:attribute name="OrganizationName" type="xs:string"/>
						<xs:attribute name="ParentOrganizationCode" type="xs:string"/>
						<xs:attribute name="PaymentProcessingReqd" type="xs:string"/>
						<xs:attribute name="PrimaryEnterpriseKey" type="xs:string"/>
						<xs:attribute name="RequiresChainedOrder" type="xs:string"/>
						<xs:attribute name="RequiresChangeRequest" type="xs:string"/>
						<xs:attribute name="ResourceIdentifier" type="xs:string"/>
						<xs:attribute name="StoreConfigOrganizationCode" type="xs:string"/>
						<xs:attribute name="TaxpayerId" type="xs:string"/>
						<xs:attribute name="XrefAliasType" type="xs:string"/>
						<xs:attribute name="XrefOrganizationCode" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>