Code/ApplicationModules/FCReturns/FCReturns.module/Schemas/SQLQuery/Query.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/Query" elementFormDefault="qualified" targetNamespace="http://www.example.org/Query">
<element name="Query">
    	<complexType>
    		<sequence>
    			<element maxOccurs="1" minOccurs="0" name="QueryString" type="string"/>
    			<element maxOccurs="1" minOccurs="0" name="QueryString1" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
