Code/ApplicationModules/FCReturns/FCReturns.module/Schemas/CaseQuery/CaseQueryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/CaseQueryRequest" xmlns:tns="http://www.example.org/CaseQueryRequest" elementFormDefault="qualified">
<complexType name="CaseQueryRequestElementType">
    <sequence>
      <element name="FCId" type="string" minOccurs="0"/>
	  <element name="CaseId" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
  <element name="CaseQueryRequestElement" type="tns:CaseQueryRequestElementType"/>
</schema>