Code/SharedModules/BWCommon/Schemas/Common/Interfaces/Class/Class.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.urbanoutfitters.com/class/class"
	 xmlns:ns0="http://www.urbanoutfitters.com/co/common"
	 xmlns:ns1="http://www.urbanoutfitters.com/co/fault"
	 xmlns:ns2="http://www.urbanoutfitters.com/co/base"
	 targetNamespace="http://www.urbanoutfitters.com/class/class"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.urbanoutfitters.com/co/common" schemaLocation="../../Objects/Common.xsd"/>
	<xs:import namespace="http://www.urbanoutfitters.com/co/fault" schemaLocation="../../Objects/Fault.xsd"/>
	<xs:import namespace="http://www.urbanoutfitters.com/co/base" schemaLocation="../../Objects/Base.xsd"/>
	<xs:element name="Class">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ClassRequest" minOccurs="0"/>
				<xs:element ref="ClassResponse" minOccurs="0"/>
				<xs:element name="Header" type="ns0:HeaderType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClassRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="classes" minOccurs="0"/>
				<xs:element name="requestHeader" type="ns2:HeaderType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClassResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Classes" minOccurs="0"/>
				<xs:element ref="Fault" minOccurs="0"/>
				<xs:element ref="TooManyFlag" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Header" type="xs:string"/>
	<xs:element name="classes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SearchType" type="xs:string" minOccurs="0"/>
				<xs:element name="Store" type="xs:string" minOccurs="0"/>
				<xs:element name="DivisionID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Classes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Store" type="xs:string" minOccurs="0"/>
				<xs:element name="DivisionID" type="xs:string" minOccurs="0"/>
				<xs:element name="DivisionDescription" type="xs:string" minOccurs="0"/>
				<xs:element name="ClassID" type="xs:string" minOccurs="0"/>
				<xs:element name="ClassDescription" type="xs:string" minOccurs="0"/>
				<xs:element name="QuatityToBeFilled" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fault" type="ns1:FaultType"/>
	<xs:element name="TooManyFlag" type="xs:string"/>
</xs:schema>