Code/ApplicationModules/SalesForce/SalesForce/Schemas/SFtoSterFurnUnbundleReq.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">




    
    <xs:element name="Order" type="UnbundleType" />




    <xs:element name="root" type="RootType"/>



    <xs:complexType name="RootType">
    	<xs:sequence>
    		<xs:element ref="Order"/>
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="UnbundleType">
    	<xs:attribute name="OrderHeaderKey" type="xs:string" />
    	<xs:attribute name="OrderNo" type="xs:string"></xs:attribute>
    	<xs:attribute name="EnterpriseCode" type="xs:string"></xs:attribute>
    </xs:complexType>
</xs:schema>
