Code/ApplicationModules/SalesForce/SalesForce/Schemas/UrbanFurnitureUnbundleResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Order">
    <xs:complexType>
      <xs:attribute name="OrderHeaderKey"  type="xs:string"/>
	   <xs:attribute type="xs:string" name="OrderNo"/>
        <xs:attribute type="xs:string" name="EnterpriseCode"/>
    </xs:complexType>
  </xs:element>
</xs:schema>