Code/SharedModules/BWCommon/Schemas/Common/Objects/OrderInvoice/Invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.urbanoutfitters.com/co/orderinvoice/invoice"
	 targetNamespace="http://www.urbanoutfitters.com/co/orderinvoice/invoice"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Company" type="xs:string"/>
	<xs:element name="Division" type="xs:string"/>
	<xs:element name="Warehouse" type="xs:string"/>
	<xs:complexType name="PickticketNbrType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="PickticketSuffix" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OrderNbrType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="OrderSfx" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="Error" type="xs:string"/>
	<xs:element name="DateCreated" type="xs:dateTime"/>
	<xs:element name="StoreNbr" type="xs:string"/>
	<xs:element name="ShipVia" type="xs:string"/>
	<xs:element name="ReasonCode" type="xs:string"/>
	<xs:element name="SchedDeliveryDate" type="xs:dateTime"/>
	<xs:element name="ProNbr" type="xs:string"/>
	<xs:element name="AppointmentNbr" type="xs:string"/>
	<xs:element name="ManifestNbr" type="xs:string"/>
	<xs:element name="SealNbr" type="xs:string"/>
	<xs:element name="MiscIns10Byte1" type="xs:string"/>
	<xs:element name="MiscIns20Byte1" type="xs:string"/>
	<xs:element name="MiscIns20Byte2" type="xs:string"/>
	<xs:element name="MiscNum1" type="xs:decimal"/>
	<xs:element name="MiscNum2" type="xs:decimal"/>
	<xs:element name="SpeclInstrCode1" type="xs:string"/>
	<xs:element name="SpeclInstrCode2" type="xs:string"/>
	<xs:element name="SpeclInstrCode3" type="xs:string"/>
	<xs:element name="SpeclInstrCode4" type="xs:string"/>
	<xs:element name="SpeclInstrCode5" type="xs:string"/>
	<xs:element name="TrailerNbr" type="xs:string"/>
	<xs:element name="ShipmentNumber" type="xs:string"/>
	<xs:element name="AppointmentDate" type="xs:dateTime"/>
	<xs:element name="UserID" type="xs:string"/>
	<xs:element name="InvoicingStatus" type="xs:string"/>
	<xs:element name="BaseCharge" type="xs:decimal"/>
	<xs:element name="CarrierCharge" type="xs:decimal"/>
	<xs:element name="CustomerCharge" type="xs:decimal"/>
	<xs:element name="InsuranceCharge" type="xs:decimal"/>
	<xs:element name="AccessorialCharge" type="xs:decimal"/>
	<xs:element name="Route" type="xs:string"/>
	<xs:element name="PackageBarcode" type="xs:string"/>
	<xs:element name="DistroType" type="xs:string"/>
	<xs:element name="PathNumber" type="xs:string"/>
	<xs:element name="RecordExpansionField" type="xs:string"/>
	<xs:element name="DeliveredUnits" type="xs:decimal"/>
	<xs:element name="ActualWeight" type="xs:decimal"/>
	<xs:element name="PalletID" type="xs:string"/>
	<xs:element name="MiscInstr10Byte" type="xs:string"/>
	<xs:element name="MiscInstr20Byte" type="xs:string"/>
	<xs:element name="CustomRecExpansionField" type="xs:string"/>
	<xs:element name="UnitsPacked" type="xs:decimal"/>
	<xs:element name="BoxesPacked" type="xs:integer"/>
	<xs:element name="Misc10ByteField1" type="xs:string"/>
	<xs:element name="Misc10ByteField2" type="xs:string"/>
	<xs:element name="Misc10ByteField3" type="xs:string"/>
	<xs:element name="Misc20ByteField" type="xs:string"/>
	<xs:element name="CheckerId" type="xs:string"/>
	<xs:element name="ApptMadeByID" type="xs:string"/>
	<xs:element name="AssortmentNbr" type="xs:string"/>
	<xs:element name="BillOfLading" type="xs:string"/>
	<xs:element name="CustomerPONbr" type="xs:string"/>
	<xs:element name="CustomerSKU" type="xs:string"/>
	<xs:element name="DistroNumber" type="xs:string"/>
	<xs:element name="NbrTimesApptChanged" type="xs:integer"/>
	<xs:element name="PackerID" type="xs:string"/>
	<xs:element name="PickerID" type="xs:string"/>
	<xs:element name="PickticketLineNbr" type="xs:integer"/>
	<xs:element name="ShipTo" type="xs:string"/>
	<xs:element name="SoldTo" type="xs:string"/>
	<xs:element name="CancelQuantity" type="xs:decimal"/>
	<xs:element name="HostApptNbr" type="xs:string"/>
	<xs:element name="ReasonCode1" type="xs:string"/>
	<xs:element name="ReasonCode2" type="xs:string"/>
	<xs:element name="ReasonCode3" type="xs:string"/>
	<xs:element name="ReasonCode4" type="xs:string"/>
	<xs:element name="ReasonCode5" type="xs:string"/>
	<xs:element name="ShipDate" type="xs:dateTime"/>
	<xs:element name="SKUDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Company" minOccurs="0"/>
				<xs:element ref="Division" minOccurs="0"/>
				<xs:element name="Season" type="xs:string" minOccurs="0"/>
				<xs:element name="SeasonYear" type="xs:string" minOccurs="0"/>
				<xs:element name="Style" type="xs:string" minOccurs="0"/>
				<xs:element name="StyleSuffix" type="xs:string" minOccurs="0"/>
				<xs:element name="Color" type="xs:string" minOccurs="0"/>
				<xs:element name="ColorSuffix" type="xs:string" minOccurs="0"/>
				<xs:element name="SecDimension" type="xs:string" minOccurs="0"/>
				<xs:element name="Quality" type="xs:string" minOccurs="0"/>
				<xs:element name="SizeRangeCode" type="xs:string" minOccurs="0"/>
				<xs:element name="SizeRelPosninTable" type="xs:string" minOccurs="0"/>
				<xs:element name="SizeDesc" type="xs:string" minOccurs="0"/>
				<xs:element name="SkuID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SubSKUFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InventoryType" type="xs:string" minOccurs="0"/>
				<xs:element name="ProductStatus" type="xs:string" minOccurs="0"/>
				<xs:element name="BatchNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="SKUAttribute1" type="xs:string" minOccurs="0"/>
				<xs:element name="SKUAttribute2" type="xs:string" minOccurs="0"/>
				<xs:element name="SKUAttribute3" type="xs:string" minOccurs="0"/>
				<xs:element name="SKUAttribute4" type="xs:string" minOccurs="0"/>
				<xs:element name="SKUAttribute5" type="xs:string" minOccurs="0"/>
				<xs:element name="CountryOfOrigin" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceBridge" type="InvoiceBridgeType"/>
	<xs:complexType name="InvoiceBridgeType">
		<xs:sequence>
			<xs:element name="Invoice" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BatchCtlNbr" minOccurs="0"/>
						<xs:element ref="Company" minOccurs="0"/>
						<xs:element ref="Division" minOccurs="0"/>
						<xs:element name="PickticketCtlNbr" type="xs:string"/>
						<xs:element ref="Warehouse"/>
						<xs:element name="PickticketNbr" type="PickticketNbrType" minOccurs="0"/>
						<xs:element name="OrderNbr" type="OrderNbrType" minOccurs="0"/>
						<xs:element name="OrderType" type="xs:string" minOccurs="0"/>
						<xs:element ref="Error" minOccurs="0"/>
						<xs:element name="RunType" type="xs:string" minOccurs="0"/>
						<xs:element name="RunMode" type="xs:string" minOccurs="0"/>
						<xs:element name="RefNbr" type="xs:string" minOccurs="0"/>
						<xs:element name="InvoiceHeaderFields" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="DateCreated" minOccurs="0"/>
									<xs:element ref="ShipTo" minOccurs="0"/>
									<xs:element ref="SoldTo" minOccurs="0"/>
									<xs:element ref="StoreNbr" minOccurs="0"/>
									<xs:element name="DCCenterNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="MerchClass" type="xs:string" minOccurs="0"/>
									<xs:element name="MerchandiseCompany" type="xs:string" minOccurs="0"/>
									<xs:element name="MerchDiv" type="xs:string" minOccurs="0"/>
									<xs:element name="RefPktCtlNbrType" type="xs:string" minOccurs="0"/>
									<xs:element name="ReferencePktCtlNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="CartonLabelType" type="xs:string" minOccurs="0"/>
									<xs:element name="LogicalWarehouse" type="xs:string" minOccurs="0"/>
									<xs:element name="TransferWarehouse" type="xs:string" minOccurs="0"/>
									<xs:element name="OriginalShipVia" type="xs:string" minOccurs="0"/>
									<xs:element ref="ShipVia" minOccurs="0"/>
									<xs:element name="PktGenerationDate" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="PktPrintDate" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="BackOrderFlag" type="xs:string" minOccurs="0"/>
									<xs:element ref="ReasonCode" minOccurs="0"/>
									<xs:element ref="SchedDeliveryDate" minOccurs="0"/>
									<xs:element ref="ShipDate" minOccurs="0"/>
									<xs:element name="ShipmentTypeDI" type="xs:string" minOccurs="0"/>
									<xs:element ref="CustomerPONbr" minOccurs="0"/>
									<xs:element ref="ProNbr" minOccurs="0"/>
									<xs:element ref="AppointmentNbr" minOccurs="0"/>
									<xs:element name="ARAccountNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="AddressCode" type="xs:string" minOccurs="0"/>
									<xs:element name="TotalWeight" type="xs:decimal" minOccurs="0"/>
									<xs:element name="TotalShippedQty" type="xs:decimal" minOccurs="0"/>
									<xs:element name="TotNbrOfCartons" type="xs:integer" minOccurs="0"/>
									<xs:element name="TotNbrOfLines" type="xs:integer" minOccurs="0"/>
									<xs:element name="CarrierCharges" type="xs:decimal" minOccurs="0"/>
									<xs:element ref="BillOfLading" minOccurs="0"/>
									<xs:element ref="ManifestNbr" minOccurs="0"/>
									<xs:element ref="SealNbr" minOccurs="0"/>
									<xs:element name="ShipWithCtlNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="ProductValue" type="xs:decimal" minOccurs="0"/>
									<xs:element name="ShippingCharges" type="xs:decimal" minOccurs="0"/>
									<xs:element name="HandlingCharges" type="xs:decimal" minOccurs="0"/>
									<xs:element name="TaxCharges" type="xs:decimal" minOccurs="0"/>
									<xs:element name="MiscCharges" type="xs:decimal" minOccurs="0"/>
									<xs:element name="ZoneSkipOrgZoneChart" type="xs:string" minOccurs="0"/>
									<xs:element name="ZoneSkipChargeType" type="xs:string" minOccurs="0"/>
									<xs:element name="ZoneSkipShpngCharge" type="xs:integer" minOccurs="0"/>
									<xs:element name="MiscIns5Byte1" type="xs:string" minOccurs="0"/>
									<xs:element name="MiscIns5Byte2" type="xs:string" minOccurs="0"/>
									<xs:element name="MiscIns5Byte3" type="xs:string" minOccurs="0"/>
									<xs:element name="MiscIns5Byte4" type="xs:string" minOccurs="0"/>
									<xs:element ref="MiscIns10Byte1" minOccurs="0"/>
									<xs:element name="MiscIns10Byte2" type="xs:string" minOccurs="0"/>
									<xs:element ref="MiscIns20Byte1" minOccurs="0"/>
									<xs:element name="MiscIns20Byte2" type="xs:string" minOccurs="0"/>
									<xs:element name="MiscIns20Byte8" type="xs:string" minOccurs="0"/>
									<xs:element ref="MiscNum1" minOccurs="0"/>
									<xs:element ref="MiscNum2" minOccurs="0"/>
									<xs:element name="MiscNum3" type="xs:decimal" minOccurs="0"/>
									<xs:element ref="SpeclInstrCode1" minOccurs="0"/>
									<xs:element ref="SpeclInstrCode2" minOccurs="0"/>
									<xs:element ref="SpeclInstrCode3" minOccurs="0"/>
									<xs:element ref="SpeclInstrCode4" minOccurs="0"/>
									<xs:element ref="SpeclInstrCode5" minOccurs="0"/>
									<xs:element name="SpeclInstrCode6" type="xs:string" minOccurs="0"/>
									<xs:element name="SpeclInstrCode7" type="xs:string" minOccurs="0"/>
									<xs:element name="SpeclInstrCode8" type="xs:string" minOccurs="0"/>
									<xs:element name="SpeclInstrCode9" type="xs:string" minOccurs="0"/>
									<xs:element name="SpeclInstrCode10" type="xs:string" minOccurs="0"/>
									<xs:element name="CollectFreight" type="xs:string" minOccurs="0"/>
									<xs:element name="BatchInvoiceForOrd" type="xs:string" minOccurs="0"/>
									<xs:element ref="RecordExpansionField" minOccurs="0"/>
									<xs:element ref="CustomRecExpansionField" minOccurs="0"/>
									<xs:element name="BulkInvoice" type="xs:string" minOccurs="0"/>
									<xs:element name="InvoiceEditFlag" type="xs:string" minOccurs="0"/>
									<xs:element ref="TrailerNbr" minOccurs="0"/>
									<xs:element name="CodFlag" type="xs:string" minOccurs="0"/>
									<xs:element ref="CheckerId" minOccurs="0"/>
									<xs:element ref="PickerID" minOccurs="0"/>
									<xs:element ref="PackerID" minOccurs="0"/>
									<xs:element name="ShipFromName" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipFromAddr1" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipFromAddr2" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipFromAddr3" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipFromCity" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipFromState" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipFromZip" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipFromCountry" type="xs:string" minOccurs="0"/>
									<xs:element name="ShiptoName" type="xs:string" minOccurs="0"/>
									<xs:element name="ShiptoAddr1" type="xs:string" minOccurs="0"/>
									<xs:element name="ShiptoAddr2" type="xs:string" minOccurs="0"/>
									<xs:element name="ShiptoAddr3" type="xs:string" minOccurs="0"/>
									<xs:element name="ShiptoCity" type="xs:string" minOccurs="0"/>
									<xs:element name="ShiptoState" type="xs:string" minOccurs="0"/>
									<xs:element name="ShiptoZip" type="xs:string" minOccurs="0"/>
									<xs:element name="ShiptoCountry" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipForName" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipForAddr1" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipForAddr2" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipForAddr3" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipForCity" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipForState" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipForZip" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipForCountry" type="xs:string" minOccurs="0"/>
									<xs:element ref="ShipmentNumber" minOccurs="0"/>
									<xs:element name="PackandHoldControlNumber" type="xs:string" minOccurs="0"/>
									<xs:element ref="ApptMadeByID" minOccurs="0"/>
									<xs:element ref="AppointmentDate" minOccurs="0"/>
									<xs:element name="CustomerRouting" type="xs:string" minOccurs="0"/>
									<xs:element name="DescriptionDate" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="CustomerDepartment" type="xs:string" minOccurs="0"/>
									<xs:element name="ManagingTerritory" type="xs:string" minOccurs="0"/>
									<xs:element name="MerchandiseCode" type="xs:string" minOccurs="0"/>
									<xs:element name="NumberofHangers" type="xs:integer" minOccurs="0"/>
									<xs:element ref="NbrTimesApptChanged" minOccurs="0"/>
									<xs:element name="OrderDate" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="PickticketStatusCode" type="xs:integer" minOccurs="0"/>
									<xs:element name="PickticketType" type="xs:string" minOccurs="0"/>
									<xs:element name="PriorityCode" type="xs:string" minOccurs="0"/>
									<xs:element name="PrioritySuffix" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipToWarehouse" type="xs:string" minOccurs="0"/>
									<xs:element name="SalespersonNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="StartShipDate" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="StopShipDate" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="TotalNumberofPallets" type="xs:integer" minOccurs="0"/>
									<xs:element name="TotalNumberofUnits" type="xs:decimal" minOccurs="0"/>
									<xs:element name="TrailerAppointmentDate" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="TrailerStopSequenceNumber" type="xs:integer" minOccurs="0"/>
									<xs:element name="TruckNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="VendorNumber" type="xs:string" minOccurs="0"/>
									<xs:element name="WarehouseTransferFlag" type="xs:string" minOccurs="0"/>
									<xs:element ref="UserID" minOccurs="0"/>
									<xs:element name="ReCalcOrderCharge" type="xs:decimal" minOccurs="0"/>
									<xs:element name="CreditAmount" type="xs:decimal" minOccurs="0"/>
									<xs:element name="OrderCharge" type="xs:decimal" minOccurs="0"/>
									<xs:element name="PlannedLoadNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="PlannedShipmentNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipToName2" type="xs:string" minOccurs="0"/>
									<xs:element name="ShipForName2" type="xs:string" minOccurs="0"/>
									<xs:element name="PreBillingStatus" type="xs:string" minOccurs="0"/>
									<xs:element ref="InvoicingStatus" minOccurs="0"/>
									<xs:element name="DeliveryStatus" type="xs:string" minOccurs="0"/>
									<xs:element name="InvoicedByPktFlag" type="xs:string" minOccurs="0"/>
									<xs:element ref="BaseCharge" minOccurs="0"/>
									<xs:element ref="CarrierCharge" minOccurs="0"/>
									<xs:element ref="CustomerCharge" minOccurs="0"/>
									<xs:element ref="InsuranceCharge" minOccurs="0"/>
									<xs:element ref="AccessorialCharge" minOccurs="0"/>
									<xs:element name="LineHaulCharge" type="xs:decimal" minOccurs="0"/>
									<xs:element name="DistributingCharge" type="xs:decimal" minOccurs="0"/>
									<xs:element name="PlannedBOL" type="xs:string" minOccurs="0"/>
									<xs:element name="PlannedMasterBOL" type="xs:string" minOccurs="0"/>
									<xs:element ref="Route" minOccurs="0"/>
									<xs:element name="RouteSequence" type="xs:integer" minOccurs="0"/>
									<xs:element name="BOLBreakAttribute" type="xs:string" minOccurs="0"/>
									<xs:element name="RouteLoadSeq" type="xs:integer" minOccurs="0"/>
									<xs:element name="HostOrderNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="HostOrderSfx" type="xs:string" minOccurs="0"/>
									<xs:element name="MiscHostOrdNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="ConsolAddrCode" type="xs:string" minOccurs="0"/>
									<xs:element name="GlobalLocnNbr" type="xs:string" minOccurs="0"/>
									<xs:element name="RetailPkt" type="xs:string" minOccurs="0"/>
									<xs:element name="AddrOnlyPkt" type="xs:integer" minOccurs="0"/>
									<xs:element name="ZoneSkip" type="xs:string" minOccurs="0"/>
									<xs:element name="InitShipVia" type="xs:string" minOccurs="0"/>
									<xs:element ref="HostApptNbr" minOccurs="0"/>
									<xs:element name="NbrOfDtlLines" type="xs:integer" minOccurs="0"/>
									<xs:element name="PrePackFlag" type="xs:integer" minOccurs="0"/>
									<xs:element name="TeOrderType" type="xs:string" minOccurs="0"/>
									<xs:element name="Currency" type="xs:string" minOccurs="0"/>
									<xs:element name="SchedDeliveryDateEnd" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="WarehouseTransferASNCreate" type="xs:string" minOccurs="0"/>
									<xs:element name="WarehouseTransferType" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ListOfInvoiceDetails" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="InvoiceDetail" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="PickticketLineNbr"/>
												<xs:element name="PktSKU">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="SKUDefinition"/>
															<xs:element name="PktQty" type="xs:decimal" minOccurs="0"/>
															<xs:element name="ShippedQty" type="xs:decimal" minOccurs="0"/>
															<xs:element name="UnitOfMeasure" type="xs:string" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element ref="SubSKUFields"/>
												<xs:element name="LocnDefinition" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Area" type="xs:string" minOccurs="0"/>
															<xs:element name="Zone" type="xs:string" minOccurs="0"/>
															<xs:element name="Aisle" type="xs:string" minOccurs="0"/>
															<xs:element name="Bay" type="xs:string" minOccurs="0"/>
															<xs:element name="Level" type="xs:string" minOccurs="0"/>
															<xs:element name="Position" type="xs:string" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element ref="Error" minOccurs="0"/>
												<xs:element name="InvoiceDetailFields" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="DateCreated" minOccurs="0"/>
															<xs:element ref="ReasonCode" minOccurs="0"/>
															<xs:element ref="PackageBarcode" minOccurs="0"/>
															<xs:element ref="CustomerSKU" minOccurs="0"/>
															<xs:element name="PrePackGroupCode" type="xs:string" minOccurs="0"/>
															<xs:element ref="AssortmentNbr" minOccurs="0"/>
															<xs:element name="NbrUnitsInPrepack" type="xs:decimal" minOccurs="0"/>
															<xs:element ref="DistroType" minOccurs="0"/>
															<xs:element ref="DistroNumber" minOccurs="0"/>
															<xs:element ref="StoreNbr" minOccurs="0"/>
															<xs:element ref="SpeclInstrCode1" minOccurs="0"/>
															<xs:element ref="SpeclInstrCode2" minOccurs="0"/>
															<xs:element ref="SpeclInstrCode3" minOccurs="0"/>
															<xs:element ref="SpeclInstrCode4" minOccurs="0"/>
															<xs:element ref="SpeclInstrCode5" minOccurs="0"/>
															<xs:element ref="MiscIns10Byte1" minOccurs="0"/>
															<xs:element ref="MiscIns20Byte1" minOccurs="0"/>
															<xs:element ref="MiscIns20Byte2" minOccurs="0"/>
															<xs:element name="MiscNumericField1" type="xs:decimal" minOccurs="0"/>
															<xs:element name="MiscNumericField2" type="xs:decimal" minOccurs="0"/>
															<xs:element name="MiscNumericField3" type="xs:decimal" minOccurs="0"/>
															<xs:element name="MiscNumericField4" type="xs:decimal" minOccurs="0"/>
															<xs:element name="MiscNumericField5" type="xs:decimal" minOccurs="0"/>
															<xs:element ref="PathNumber" minOccurs="0"/>
															<xs:element ref="RecordExpansionField" minOccurs="0"/>
															<xs:element ref="CustomRecExpansionField" minOccurs="0"/>
															<xs:element ref="CancelQuantity" minOccurs="0"/>
															<xs:element name="LineType" type="xs:string" minOccurs="0"/>
															<xs:element name="OriginalOrderLineNumber" type="xs:integer" minOccurs="0"/>
															<xs:element name="OriginalPktLineNumber" type="xs:integer" minOccurs="0"/>
															<xs:element name="OriginalOrderQuantity" type="xs:decimal" minOccurs="0"/>
															<xs:element name="OriginalPickticketQty" type="xs:decimal" minOccurs="0"/>
															<xs:element name="Price" type="xs:decimal" minOccurs="0"/>
															<xs:element name="RetailPrice" type="xs:decimal" minOccurs="0"/>
															<xs:element name="UnitWeight" type="xs:decimal" minOccurs="0"/>
															<xs:element name="UnitVolume" type="xs:decimal" minOccurs="0"/>
															<xs:element name="TemperatureZone" type="xs:string" minOccurs="0"/>
															<xs:element name="BackOrderQuanitty" type="xs:decimal" minOccurs="0"/>
															<xs:element name="ShelfDays" type="xs:integer" minOccurs="0"/>
															<xs:element ref="UserID" minOccurs="0"/>
															<xs:element name="Taxable" type="xs:string" minOccurs="0"/>
															<xs:element name="TaxPercentage" type="xs:decimal" minOccurs="0"/>
															<xs:element name="SuppressPrintAmounts" type="xs:string" minOccurs="0"/>
															<xs:element ref="DeliveredUnits" minOccurs="0"/>
															<xs:element name="OrigCompany" type="xs:string" minOccurs="0"/>
															<xs:element name="OrigDivision" type="xs:string" minOccurs="0"/>
															<xs:element name="OrigSeason" type="xs:string" minOccurs="0"/>
															<xs:element name="OrigSeasonYear" type="xs:string" minOccurs="0"/>
															<xs:element name="OrigStyle" type="xs:string" minOccurs="0"/>
															<xs:element name="OrigStyleSuffix" type="xs:string" minOccurs="0"/>
															<xs:element name="OrigColor" type="xs:string" minOccurs="0"/>
															<xs:element name="OrigColorSuffix" type="xs:string" minOccurs="0"/>
															<xs:element name="OrigSecDimension" type="xs:string" minOccurs="0"/>
															<xs:element name="OrigQuality" type="xs:string" minOccurs="0"/>
															<xs:element name="OrigSizeRangeCode" type="xs:string" minOccurs="0"/>
															<xs:element name="OrigSizeRelPosninTable" type="xs:integer" minOccurs="0"/>
															<xs:element name="OrigSizeDesc" type="xs:string" minOccurs="0"/>
															<xs:element name="OrigSkuID" type="xs:string" minOccurs="0"/>
															<xs:element ref="SchedDeliveryDate" minOccurs="0"/>
															<xs:element name="Misc20ByteField3" type="xs:string" minOccurs="0"/>
															<xs:element name="DistroSeqNumber" type="xs:integer" minOccurs="0"/>
															<xs:element name="PONbr" type="xs:string" minOccurs="0"/>
															<xs:element name="DemandID" type="xs:string" minOccurs="0"/>
															<xs:element ref="InvoicingStatus" minOccurs="0"/>
															<xs:element name="ExportIdCode" type="xs:string" minOccurs="0"/>
															<xs:element name="MarksAndNbrs" type="xs:string" minOccurs="0"/>
															<xs:element name="PriceTicketType" type="xs:string" minOccurs="0"/>
															<xs:element ref="ReasonCode1" minOccurs="0"/>
															<xs:element ref="ReasonCode2" minOccurs="0"/>
															<xs:element ref="ReasonCode3" minOccurs="0"/>
															<xs:element ref="ReasonCode4" minOccurs="0"/>
															<xs:element ref="ReasonCode5" minOccurs="0"/>
															<xs:element name="TpePOPkt" type="xs:string" minOccurs="0"/>
															<xs:element name="CustomerPOLineNbr" type="xs:integer" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ListOfCartons" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Carton" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CartonNbr" type="xs:string"/>
												<xs:element name="CartonHeaderFields" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="DateCreated" minOccurs="0"/>
															<xs:element ref="SoldTo" minOccurs="0"/>
															<xs:element ref="ShipTo" minOccurs="0"/>
															<xs:element ref="CustomerPONbr" minOccurs="0"/>
															<xs:element name="TrackingNbr" type="xs:string" minOccurs="0"/>
															<xs:element name="ConsigneeTrackingNbr" type="xs:string" minOccurs="0"/>
															<xs:element name="CartonType" type="xs:string" minOccurs="0"/>
															<xs:element name="ShippingUnit" type="xs:string" minOccurs="0"/>
															<xs:element ref="StoreNbr" minOccurs="0"/>
															<xs:element name="CartonVolume" type="xs:decimal" minOccurs="0"/>
															<xs:element name="EstimatedWeight" type="xs:decimal" minOccurs="0"/>
															<xs:element ref="ActualWeight" minOccurs="0"/>
															<xs:element name="TotalQty" type="xs:decimal" minOccurs="0"/>
															<xs:element name="FreightCharges" type="xs:decimal" minOccurs="0"/>
															<xs:element name="CartonNbrXofY" type="xs:integer" minOccurs="0"/>
															<xs:element name="PackageDesc" type="xs:string" minOccurs="0"/>
															<xs:element ref="PalletID" minOccurs="0"/>
															<xs:element name="TierNbr" type="xs:string" minOccurs="0"/>
															<xs:element name="LoadNbr" type="xs:string" minOccurs="0"/>
															<xs:element ref="BillOfLading" minOccurs="0"/>
															<xs:element ref="ManifestNbr" minOccurs="0"/>
															<xs:element ref="TrailerNbr" minOccurs="0"/>
															<xs:element name="PickupRecordNbr" type="xs:integer" minOccurs="0"/>
															<xs:element ref="ShipVia" minOccurs="0"/>
															<xs:element ref="AppointmentNbr" minOccurs="0"/>
															<xs:element ref="NbrTimesApptChanged" minOccurs="0"/>
															<xs:element ref="AppointmentDate" minOccurs="0"/>
															<xs:element ref="ApptMadeByID" minOccurs="0"/>
															<xs:element name="LoadSequenceNbr" type="xs:integer" minOccurs="0"/>
															<xs:element name="CartonVerifiedFlag" type="xs:string" minOccurs="0"/>
															<xs:element ref="CheckerId" minOccurs="0"/>
															<xs:element ref="PickerID" minOccurs="0"/>
															<xs:element ref="PackerID" minOccurs="0"/>
															<xs:element ref="MiscInstr10Byte" minOccurs="0"/>
															<xs:element ref="MiscInstr20Byte" minOccurs="0"/>
															<xs:element ref="MiscIns20Byte1" minOccurs="0"/>
															<xs:element ref="MiscNum1" minOccurs="0"/>
															<xs:element ref="MiscNum2" minOccurs="0"/>
															<xs:element ref="RecordExpansionField" minOccurs="0"/>
															<xs:element ref="CustomRecExpansionField" minOccurs="0"/>
															<xs:element ref="Warehouse" minOccurs="0"/>
															<xs:element ref="ShipmentNumber" minOccurs="0"/>
															<xs:element name="MiscInstructionCode1" type="xs:string" minOccurs="0"/>
															<xs:element name="MiscInstructionCode2" type="xs:string" minOccurs="0"/>
															<xs:element name="MiscInstructionCode3" type="xs:string" minOccurs="0"/>
															<xs:element name="MiscInstructionCode4" type="xs:string" minOccurs="0"/>
															<xs:element name="MiscInstructionCode5" type="xs:string" minOccurs="0"/>
															<xs:element ref="UserID" minOccurs="0"/>
															<xs:element ref="Route" minOccurs="0"/>
															<xs:element ref="ProNbr" minOccurs="0"/>
															<xs:element ref="SealNbr" minOccurs="0"/>
															<xs:element name="RecipientFirstName" type="xs:string" minOccurs="0"/>
															<xs:element name="RecipientLastName" type="xs:string" minOccurs="0"/>
															<xs:element name="DeliveredDate" type="xs:dateTime" minOccurs="0"/>
															<xs:element name="DeliveredOnTimeFlag" type="xs:string" minOccurs="0"/>
															<xs:element name="DeliveredCompleteFlag" type="xs:string" minOccurs="0"/>
															<xs:element name="DeliveryComment" type="xs:string" minOccurs="0"/>
															<xs:element ref="BaseCharge" minOccurs="0"/>
															<xs:element ref="CarrierCharge" minOccurs="0"/>
															<xs:element ref="CustomerCharge" minOccurs="0"/>
															<xs:element ref="InsuranceCharge" minOccurs="0"/>
															<xs:element ref="AccessorialCharge" minOccurs="0"/>
															<xs:element name="CODAmount" type="xs:decimal" minOccurs="0"/>
															<xs:element name="BilledWeight" type="xs:decimal" minOccurs="0"/>
															<xs:element name="MasterBOL" type="xs:string" minOccurs="0"/>
															<xs:element name="LoadDateTime" type="xs:dateTime" minOccurs="0"/>
															<xs:element name="ParcelShpmtNbr" type="xs:string" minOccurs="0"/>
															<xs:element name="CustChargeShipVia" type="xs:string" minOccurs="0"/>
															<xs:element name="AddlOptionCharge" type="xs:decimal" minOccurs="0"/>
															<xs:element name="ActualCharge" type="xs:decimal" minOccurs="0"/>
															<xs:element name="PreBulkBaseCharge" type="xs:decimal" minOccurs="0"/>
															<xs:element name="PreBulkAddlOptionCharge" type="xs:decimal" minOccurs="0"/>
															<xs:element name="MiscCarton" type="xs:integer" minOccurs="0"/>
															<xs:element name="PalletType" type="xs:string" minOccurs="0"/>
															<xs:element name="PalletSize" type="xs:string" minOccurs="0"/>
															<xs:element name="AirbillNbr" type="xs:integer" minOccurs="0"/>
															<xs:element name="CartonEPC" type="xs:string" minOccurs="0"/>
															<xs:element ref="HostApptNbr" minOccurs="0"/>
															<xs:element name="PalletEPC" type="xs:string" minOccurs="0"/>
															<xs:element ref="ShipDate" minOccurs="0"/>
															<xs:element name="PalletWeight" type="xs:decimal" minOccurs="0"/>
															<xs:element name="EPCMatchFlag" type="xs:decimal" minOccurs="0"/>
															<xs:element name="CustomerLoadID" type="xs:string" minOccurs="0"/>
															<xs:element name="CartonSize" type="xs:string" minOccurs="0"/>
															<xs:element name="CartonHeight" type="xs:decimal" minOccurs="0"/>
															<xs:element name="CartonLength" type="xs:decimal" minOccurs="0"/>
															<xs:element name="CartonWidth" type="xs:decimal" minOccurs="0"/>
															<xs:element name="LoadedPosition" type="xs:string" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element ref="Error" minOccurs="0"/>
												<xs:element name="ListOfCartonDetails">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="CartonDetail" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="CartonLineNbr" type="xs:integer"/>
																		<xs:element name="CtnSKU">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element ref="SKUDefinition"/>
																					<xs:element ref="UnitsPacked" minOccurs="0"/>
																					<xs:element ref="BoxesPacked" minOccurs="0"/>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element ref="SubSKUFields"/>
																		<xs:element name="CartonDetailFields" minOccurs="0">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element ref="DateCreated" minOccurs="0"/>
																					<xs:element ref="PickticketLineNbr" minOccurs="0"/>
																					<xs:element ref="CustomerSKU" minOccurs="0"/>
																					<xs:element ref="DistroType" minOccurs="0"/>
																					<xs:element ref="DistroNumber" minOccurs="0"/>
																					<xs:element ref="PackageBarcode" minOccurs="0"/>
																					<xs:element name="ToBePackedUnits" type="xs:decimal" minOccurs="0"/>
																					<xs:element name="ToBePackedBoxes" type="xs:integer" minOccurs="0"/>
																					<xs:element ref="AssortmentNbr" minOccurs="0"/>
																					<xs:element ref="PalletID" minOccurs="0"/>
																					<xs:element ref="MiscInstr10Byte" minOccurs="0"/>
																					<xs:element ref="MiscInstr20Byte" minOccurs="0"/>
																					<xs:element ref="MiscNum1" minOccurs="0"/>
																					<xs:element ref="MiscNum2" minOccurs="0"/>
																					<xs:element ref="PathNumber" minOccurs="0"/>
																					<xs:element ref="RecordExpansionField" minOccurs="0"/>
																					<xs:element ref="CustomRecExpansionField" minOccurs="0"/>
																					<xs:element name="VendorID" type="xs:string" minOccurs="0"/>
																					<xs:element name="VendorItemNumber" type="xs:string" minOccurs="0"/>
																					<xs:element name="ConsumePriorityDate" type="xs:dateTime" minOccurs="0"/>
																					<xs:element ref="UserID" minOccurs="0"/>
																					<xs:element ref="DeliveredUnits" minOccurs="0"/>
																					<xs:element name="InStoreDate" type="xs:dateTime" minOccurs="0"/>
																					<xs:element ref="CancelQuantity" minOccurs="0"/>
																					<xs:element name="MasterShipmentID" type="xs:string" minOccurs="0"/>
																					<xs:element name="MinorPickticketCtlNbr" type="xs:string" minOccurs="0"/>
																					<xs:element name="MinorPONbr" type="xs:string" minOccurs="0"/>
																					<xs:element ref="PackerID" minOccurs="0"/>
																					<xs:element ref="PickerID" minOccurs="0"/>
																					<xs:element name="PreCubeFlag" type="xs:string" minOccurs="0"/>
																					<xs:element ref="ReasonCode1" minOccurs="0"/>
																					<xs:element ref="ReasonCode2" minOccurs="0"/>
																					<xs:element ref="ReasonCode3" minOccurs="0"/>
																					<xs:element ref="ReasonCode4" minOccurs="0"/>
																					<xs:element ref="ReasonCode5" minOccurs="0"/>
																					<xs:element name="RefCaseNbr" type="xs:string" minOccurs="0"/>
																					<xs:element ref="CustomerPONbr" minOccurs="0"/>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element ref="Error" minOccurs="0"/>
																		<xs:element name="ListOfSerialNbrDetails" minOccurs="0">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="SerialNbrDetail" maxOccurs="unbounded">
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="SerialSeqNbr" type="xs:integer" minOccurs="0"/>
																								<xs:element ref="Error" minOccurs="0"/>
																								<xs:element name="SerialNbrDetailFields" minOccurs="0">
																									<xs:complexType>
																										<xs:sequence>
																											<xs:element name="SerialNbr" type="xs:string" minOccurs="0"/>
																											<xs:element ref="UnitsPacked" minOccurs="0"/>
																											<xs:element ref="BoxesPacked" minOccurs="0"/>
																											<xs:element ref="Misc10ByteField1" minOccurs="0"/>
																											<xs:element ref="Misc10ByteField2" minOccurs="0"/>
																											<xs:element ref="Misc10ByteField3" minOccurs="0"/>
																											<xs:element ref="Misc20ByteField" minOccurs="0"/>
																											<xs:element ref="ActualWeight" minOccurs="0"/>
																											<xs:element ref="MiscNum1" minOccurs="0"/>
																											<xs:element ref="RecordExpansionField" minOccurs="0"/>
																											<xs:element ref="CustomRecExpansionField" minOccurs="0"/>
																											<xs:element name="RecType" type="xs:string" minOccurs="0"/>
																											<xs:element name="RefCaseNbr" type="xs:string" minOccurs="0"/>
																										</xs:sequence>
																									</xs:complexType>
																								</xs:element>
																								<xs:element name="ListOfMinorSerialNbrDtls" minOccurs="0">
																									<xs:complexType>
																										<xs:sequence>
																											<xs:element name="MinorSerialNbrDtl" maxOccurs="unbounded">
																												<xs:complexType>
																													<xs:sequence>
																														<xs:element name="MinorSeqNbr" type="xs:integer" minOccurs="0"/>
																														<xs:element name="MinorSerialNbr" type="xs:string" minOccurs="0"/>
																													</xs:sequence>
																												</xs:complexType>
																											</xs:element>
																										</xs:sequence>
																									</xs:complexType>
																								</xs:element>
																							</xs:sequence>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="ListOfCatchWeightDetails" minOccurs="0">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="CatchWeightDetail" maxOccurs="unbounded">
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="CatchWtSeqNbr" type="xs:integer" minOccurs="0"/>
																								<xs:element name="CartonSeqNbr" type="xs:integer" minOccurs="0"/>
																								<xs:element ref="Error" minOccurs="0"/>
																								<xs:element name="CatchWeightDetailFields" minOccurs="0">
																									<xs:complexType>
																										<xs:sequence>
																											<xs:element name="CatchWeight" type="xs:decimal" minOccurs="0"/>
																											<xs:element ref="UnitsPacked" minOccurs="0"/>
																											<xs:element ref="BoxesPacked" minOccurs="0"/>
																											<xs:element ref="Misc10ByteField1" minOccurs="0"/>
																											<xs:element ref="Misc10ByteField2" minOccurs="0"/>
																											<xs:element ref="Misc10ByteField3" minOccurs="0"/>
																											<xs:element ref="Misc20ByteField" minOccurs="0"/>
																										</xs:sequence>
																									</xs:complexType>
																								</xs:element>
																							</xs:sequence>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="version" type="xs:string" default="2.1"/>
		<xs:attribute name="timestamp" type="xs:dateTime"/>
	</xs:complexType>
</xs:schema>