Code/ApplicationModules/FCReturns/FCReturns.module/Schemas/CreateSkuRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1587607211756" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1587607211756">
  <complexType name="CreateSkuRequestElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="orderNo" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="orderLineNo" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="associateId" type="string"/>
    </sequence>
  </complexType>
  <element name="CreateSkuRequestElement" type="tns:CreateSkuRequestElementType"/>
</schema>
