Code/ApplicationModules/FCReturns/FCReturns.module/Schemas/CreateSkuResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1587607323266" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1587607323266">
  <complexType name="CreateSkuResponseElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="caseClosed" type="boolean"/>
    </sequence>
  </complexType>
  <element name="CreateSkuResponseElement" type="tns:CreateSkuResponseElementType"/>
</schema>
