Code/ApplicationModules/FCReturns/FCReturns.module/Schemas/UpdateCaseRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1587659047314" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1587659047314">
  <complexType name="UpdateCaseRequestElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="associateId" type="string"/>
    </sequence>
  </complexType>
  <element name="UpdateCaseRequestElement" type="tns:UpdateCaseRequestElementType"/>
</schema>
