Code/SharedModules/BWCommon/Schemas/Common/Interfaces/Customer/CustomerCreate.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:common="http://www.urbanoutfitters.com/co/common"
	 xmlns:base="http://www.urbanoutfitters.com/co/base"
	 xmlns:fault="http://www.urbanoutfitters.com/co/fault"
	 xmlns="http://www.urbanoutfitters.com/customer/customercreate"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://www.urbanoutfitters.com/customer/customercreate"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.urbanoutfitters.com/co/common" schemaLocation="../../Objects/Common.xsd"/>
	<xs:import namespace="http://www.urbanoutfitters.com/co/fault" schemaLocation="../../Objects/Fault.xsd"/>
	<xs:import namespace="http://www.urbanoutfitters.com/co/base" schemaLocation="../../Objects/Base.xsd"/>
	<xs:element name="CustomerCreate">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerCreateRequest" minOccurs="0"/>
				<xs:element ref="CustomerCreateResponse" minOccurs="0"/>
				<xs:element name="Header" type="common:HeaderType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerCreateRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="customer" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PointOfEntry" type="xs:string"/>
							<xs:element name="OrganizationCode" type="xs:string" minOccurs="0"/>
							<xs:element name="EnrollInLoyalty" type="xs:string" minOccurs="0"/>
							<xs:element name="CreateRequest" type="xs:string" minOccurs="0"/>
							<xs:element name="CustomerID" type="xs:string"/>
							<xs:element name="ExternalCustomerID" type="xs:string" minOccurs="0"/>
							<xs:element name="RegisteredDate" type="xs:dateTime" minOccurs="0"/>
							<xs:element name="CustomerKey" type="xs:string" minOccurs="0"/>
							<xs:element name="CustomerType" type="xs:string" minOccurs="0"/>
							<xs:element name="DisplayLocalizedFieldInLocal" type="xs:string" minOccurs="0"/>
							<xs:element name="Status" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnLoyalty" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnCustomerStatus" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnIsRegisteredCustomer" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnIsMigrated" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnUsername" type="xs:string" minOccurs="0"/>
							<xs:element name="BillingPersonID" type="xs:string" minOccurs="0"/>
							<xs:element name="CustomerContactID" type="xs:string" minOccurs="0"/>
							<xs:element name="EmailID" type="xs:string" minOccurs="0"/>
							<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
							<xs:element name="LastName" type="xs:string" minOccurs="0"/>
							<xs:element name="UserID" type="xs:string" minOccurs="0"/>
							<xs:element name="DateOfBirth" type="xs:date" minOccurs="0"/>
							<xs:element name="DayFaxNo" type="xs:string" minOccurs="0"/>
							<xs:element name="DayPhone" type="xs:string" minOccurs="0"/>
							<xs:element name="Department" type="xs:string" minOccurs="0"/>
							<xs:element name="EveningFaxNo" type="xs:string" minOccurs="0"/>
							<xs:element name="EveningPhone" type="xs:string" minOccurs="0"/>
							<xs:element name="JobTitle" type="xs:string" minOccurs="0"/>
							<xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
							<xs:element name="MobilePhone" type="xs:string" minOccurs="0"/>
							<xs:element name="SpouseDateOfBirth" type="xs:date" minOccurs="0"/>
							<xs:element name="Title" type="xs:string" minOccurs="0"/>
							<xs:element name="WeddingAnniversaryDate" type="xs:date" minOccurs="0"/>
							<xs:element name="ExtnSignUpDate" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnSignUpChannel" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnSignUpChannelID" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnProfileURL" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnDOBMonth" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnDOBDay" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnDOBYear" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnGender" type="xs:string" minOccurs="0"/>
							<xs:element name="Password" type="xs:string" minOccurs="0"/>
							<xs:element name="VerifyPassword" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnSignUpChannelIDName" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnSignUpChannelName" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnLanguageCode" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnResubEmailDate" type="xs:string" minOccurs="0"/>
							<xs:element name="PriorEmailID" type="xs:string" minOccurs="0"/>
							<xs:element name="EmailType" type="xs:string" minOccurs="0"/>
							<xs:element name="Company" type="xs:string" minOccurs="0"/>
							<xs:element name="CreateWebAccount" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnEmployeeID" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnEmployeeType" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnSiteID" type="xs:string" minOccurs="0"/>
							<xs:element name="URBNCustContactNVList" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="URBNCustContactNV" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ExtnCustContactNVKey" type="xs:string" minOccurs="0"/>
													<xs:element name="ExtnParamKey" type="xs:string" minOccurs="0"/>
													<xs:element name="ExtnParamName" type="xs:string" minOccurs="0"/>
													<xs:element name="ExtnParamValue" type="xs:string" minOccurs="0"/>
													<xs:element name="ExtnRef1" type="xs:string" minOccurs="0"/>
													<xs:element name="ExtnRef2" type="xs:string" minOccurs="0"/>
													<xs:element name="ExtnRef3" type="xs:string" minOccurs="0"/>
													<xs:element name="ExtnRef4" type="xs:string" minOccurs="0"/>
													<xs:element name="Operation" type="xs:string" minOccurs="0"/>
													<xs:element name="ExtnDeleted" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CustomerAdditionalAddressList" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Reset" type="xs:string" minOccurs="0"/>
										<xs:element name="CustomerAdditionalAddress" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="IsBillTo" type="xs:string" minOccurs="0"/>
													<xs:element name="IsDefaultBillTo" type="xs:string" minOccurs="0"/>
													<xs:element name="IsDefaultShipTo" type="xs:string" minOccurs="0"/>
													<xs:element name="IsDefaultSoldTo" type="xs:string" minOccurs="0"/>
													<xs:element name="IsShipTo" type="xs:string" minOccurs="0"/>
													<xs:element name="IsSoldTo" type="xs:string" minOccurs="0"/>
													<xs:element name="AddressLine1" type="xs:string" minOccurs="0"/>
													<xs:element name="AddressLine2" type="xs:string" minOccurs="0"/>
													<xs:element name="AddressLine3" type="xs:string" minOccurs="0"/>
													<xs:element name="City" type="xs:string" minOccurs="0"/>
													<xs:element name="Country" type="xs:string" minOccurs="0"/>
													<xs:element name="DayPhone" type="xs:string" minOccurs="0"/>
													<xs:element name="EMailID" type="xs:string" minOccurs="0"/>
													<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
													<xs:element name="LastName" type="xs:string" minOccurs="0"/>
													<xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
													<xs:element name="MobilePhone" type="xs:string" minOccurs="0"/>
													<xs:element name="OtherPhone" type="xs:string" minOccurs="0"/>
													<xs:element name="State" type="xs:string" minOccurs="0"/>
													<xs:element name="Suffix" type="xs:string" minOccurs="0"/>
													<xs:element name="Title" type="xs:string" minOccurs="0"/>
													<xs:element name="ZipCode" type="xs:string" minOccurs="0"/>
													<xs:element name="IsAddressVerified" type="xs:string" minOccurs="0"/>
													<xs:element name="IsCommercialAddress" type="xs:string" minOccurs="0"/>
													<xs:element name="SameAsShipping" type="xs:string" minOccurs="0"/>
													<xs:element name="CustomerAdditionalAddressID" type="xs:string" minOccurs="0"/>
													<xs:element name="Operation" type="xs:string" minOccurs="0"/>
													<xs:element name="AddressType" type="xs:string" minOccurs="0"/>
													<xs:element name="AddressLine4" type="xs:string" minOccurs="0"/>
													<xs:element name="AddressLine5" type="xs:string" minOccurs="0"/>
													<xs:element name="AddressLine6" type="xs:string" minOccurs="0"/>
													<xs:element name="AlternateEmailID" type="xs:string" minOccurs="0"/>
													<xs:element name="Company" type="xs:string" minOccurs="0"/>
													<xs:element name="DayFaxNo" type="xs:string" minOccurs="0"/>
													<xs:element name="Department" type="xs:string" minOccurs="0"/>
													<xs:element name="EveningFaxNo" type="xs:string" minOccurs="0"/>
													<xs:element name="EveningPhone" type="xs:string" minOccurs="0"/>
													<xs:element name="HttpUrl" type="xs:string" minOccurs="0"/>
													<xs:element name="JobTitle" type="xs:string" minOccurs="0"/>
													<xs:element name="PersonInfoKey" type="xs:string" minOccurs="0"/>
													<xs:element name="ExtnWebId" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DataCentre" type="xs:string" minOccurs="0"/>
							<xs:element name="ProfileIdTrigger" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="requestHeader" type="base:HeaderType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerCreateResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Customer" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PointOfEntry" type="xs:string" minOccurs="0"/>
							<xs:element name="OrganizationCode" type="xs:string" minOccurs="0"/>
							<xs:element name="EnrollInLoyalty" type="xs:string" minOccurs="0"/>
							<xs:element name="CustomerID" type="xs:string" minOccurs="0"/>
							<xs:element name="ExternalCustomerID" type="xs:string" minOccurs="0"/>
							<xs:element name="RegisteredDate" type="xs:dateTime" minOccurs="0"/>
							<xs:element name="CustomerType" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnLoyalty" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnIsRegisteredCustomer" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnSignUpDate" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnSignUpChannel" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnSignUpChannelID" type="xs:string" minOccurs="0"/>
							<xs:element name="ExtnSignUpChannelIDName" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Fault" type="fault:FaultType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>