Code/SharedModules/BWCommon/Schemas/Common/Interfaces/Amazon/PublishToAmazonTopic.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.urbanoutfitters.com/Amazon/PublishToAmazonTopic"
	 targetNamespace="http://www.urbanoutfitters.com/Amazon/PublishToAmazonTopic"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Amazon">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TopicName" type="xs:string"/>
				<xs:element name="Payload" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>