Code/ApplicationModules/FCReturns/FCReturns.module/Schemas/SkuAdd/SkuAddResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
 targetNamespace="http://www.example.org/SkuAddResponse"
  xmlns:tns="http://www.example.org/SkuAddResponse" elementFormDefault="qualified">
<complexType name="SkuAddResponseElementType">
        <sequence>
      <element maxOccurs="1" minOccurs="0" name="caseClosed" type="boolean"/>
          </sequence>
  </complexType>
  <element name="SkuAddResponseElement" type="tns:SkuAddResponseElementType"/>
</schema>